<br>

<div class="col-md-6 col-md-offset-3">
  <div class="login-form">

<h2 id="h2devise" class="craietext text-center">Editer mon profil <% resource_name.to_s.humanize %></h2>
<br>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :avatar, label: "CHANGER SON AVATAR"%>
    <p>Taille Max : 2 Mo</p>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
<br>

    <%= f.input :current_password, required: true %>
    <p><%= t('.we_need_your_current_password_to_confirm_your_changes') %></p>

  </div>
<br>
  <div class="form-actions text-center">
    <%= f.button :submit, t('.update') %>
    <p>(PEUT PRENDRE 1 A 2 MINUTES)</p>
  </div>

<% end %>
<br>
<p class="craietext"><%= t('.unhappy') %> ? <%= link_to t(".cancel_my_account"), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete %></p>

<p class="craietext"><%= link_to "Retour", pages_casier_path %></p>

</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
