<br>

<div class="col-md-6 col-md-offset-3">
  <div class="login-form">

    <h2 id="h2devise" class="craietext text-center"><%= t('s_inscrire') %></h2>
    <br>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div>
        <%= f.input :username, required: true, autofocus: true, input_html: {maxlength: 25}, label: "PSEUDO" %>
        <%= f.input :email, required: true, input_html: {maxlength: 99} %>
        <%= f.input :password, required: true, input_html: {maxlength: 30}, hint: ("#{@minimum_password_length} #{t('mincar')} " if @minimum_password_length) %>
        <%= f.input :password_confirmation, required: true, input_html: {maxlength: 30} %>
        <%= f.input :presence, as: :hidden, input_html: { value: '1' } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, t('valider').upcase %>
      </div>
    <% end %>
    <br>
    <p class="craietext"><%= render "devise/shared/links" %></p>

  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
