<div class="infogame row text-center">
    <h3 style="color:white" class="craietext"><em>CHOISIS UN JEU</em></h3>
  <br>
  <% if @videok.count == 0 %>
    <h1>Il n'y a pas encore de cours dans cette salle.</h1>
  <% else %>
    <% @videok.each do |video| %>

    <div class="infogame hidden-xs col-xs-5 text-left">
      <div class="pull-right">
        <h2>Cours #<%= video.id %></h2>
        <h4><%= video.title %></h4>
        <br>
        <p><strong>Console :</strong> <%= @console.title %></p>
        <p><strong>Sortie (Fr) :</strong> <%= l(video.release, format: "%b %y" ) %></p>
        <p><strong>Genre :</strong> <%= video.genre %></p>
        <p><strong>Joueur(s) :</strong> <%= video.player %></p>
        <p><strong>Développeur :</strong> <%= video.developer %></p>
      </div>
    </div>
    <br>

      <div class="col-xs-12 col-sm-7">
        <div class="<%= video.style %> img-responsive" id="wrapper">
          <a href="/videos/<%= video.id %>">
            <p><%= image_tag video.video_img.url(:medium), class:"#{video.style} hover img-responsive center-block" %><p></a>
            <a href="/videos/<%= video.id %>"><h1 class="text craietext" style="color:red"><strong>START !</strong></h1></a>

        </div>
        <%= paginate @videok %>
      </div>
    <% end %>
  <% end %>

</div>
<br>
<div class="text-center">
  <a class="btn btn-default" href="/pages/videos" role="button">Retour</a>
</div>
<br>
<br>
<br>
