<div class="infogame row">
    <div class="col-xs-12 text-center">
      <h2 style="color:white" class="feutretext"><em>CHOISIS UN COURS</em> <%= image_tag @console.console_img.url, class:"consoleimg" %></h2>
    </div>
</div>

  <% if @videok.count == 0 %>
    <h1 style="color:white" class="feutretext text-center">Il n'y a pas encore de cours dans cette salle.</h1>
  <% else %>
    <% i = 0 %>
    <% @videok.each do |video| %>
    <% i += 1 %>
    <h1 style="color:white" class="col-xs-12 feutretext text-center">------------</h1>
    <div class="col-sm-12">
    <div class="hidden-xs col-sm-6 text-left">
      <div class="infogame pull-right">
        <h1 class="feutretext"><%= i %>) <%= video.title %></h1>

        <h3 class="feutretext"><strong>Console :&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong> <%= @console.title %></h3>
        <h3 class="feutretext"><strong>Sortie (Fr) :&nbsp; &nbsp; &nbsp;</strong> <%= l(video.release, format: "%B %Y" ) %></h3>
        <h3 class="feutretext"><strong>Genre :&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong> <%= video.genre %></h3>
        <h3 class="feutretext"><strong>Joueur(s) :&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</strong> <%= video.player %></h3>
        <h3 class="feutretext"><strong>Développeur :&nbsp; &nbsp; &nbsp;</strong> <%= video.developer %></h3>
      </div>
    </div>
    <br>

      <div class="col-xs-12 col-sm-6 text-center">
        <div class="<%= video.style %> " id="wrapper">
          <a href="/videos/<%= video.id %>">
            <p><%= image_tag video.video_img.url(:medium), class:"#{video.style} hover img-responsive center-block" %><p></a>
            <a href="/videos/<%= video.id %>"><h1 class="text craietext" style="color:red"><strong>START !</strong></h1></a>

        </div>

      </div>
      <a href="/videos/<%= video.id %>"><h1 style="color:white" class="col-xs-12 feutretext text-center">START !</h1></a>


      </div>
    <% end %>
  <% end %>


<br>
<div class="text-center">
  <a class="btn btn-default" href="/pages/videos" role="button">Retour</a>
</div>
