<div class="infogame row text-center">
    <div class="col-xs-6 text-justify">
      <h2 style="color:white" class="feutretext"><em>CHOISIS UN COURS</em></h2>
    </div>
    <div class="col-xs-6">
    <p><%= image_tag @console.console_img.url, class:"consoleimg img-responsive center-block" %></p>
    </div>

  <% if @videok.count == 0 %>
    <h1 style="color:white" class="feutretext">Il n'y a pas encore de cours dans cette salle.</h1>
  <% else %>
    <% @videok.each do |video| %>

    <div class="hidden-xs col-sm-6 text-left">
      <div class="infogame pull-right">
        <h1 class="feutretext"><%= video.title %></h1>

        <h3 class="feutretext"><strong>Console :&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong> <%= @console.title %></h3>
        <h3 class="feutretext"><strong>Sortie (Fr) :&nbsp; &nbsp; &nbsp;</strong> <%= l(video.release, format: "%B %Y" ) %></h3>
        <h3 class="feutretext"><strong>Genre :&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong> <%= video.genre %></h3>
        <h3 class="feutretext"><strong>Joueur(s) :&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</strong> <%= video.player %></h3>
        <h3 class="feutretext"><strong>Développeur :&nbsp; &nbsp; &nbsp;</strong> <%= video.developer %></h3>
      </div>
    </div>
    <br>

      <div class="col-xs-12 col-sm-6">
        <div class="<%= video.style %> img-responsive" id="wrapper">
          <a href="/videos/<%= video.id %>">
            <p><%= image_tag video.video_img.url(:medium), class:"#{video.style} hover img-responsive center-block" %><p></a>
            <a href="/videos/<%= video.id %>"><h1 class="text craietext" style="color:red"><strong>START !</strong></h1></a>

        </div>
        <%= paginate @videok %>
      </div>


    <% end %>
  <% end %>

</div>
<br>
<div class="text-center">
  <a class="btn btn-default" href="/pages/videos" role="button">Retour</a>
</div>
