<h1>Show indoor level <%= @console.id %></h1>

<p>Titre console = <%= @console.title %></p>
<p>Id console = <%= @console.id %></p>


<div class="row text-center col-xs-6-offset-3">
  <% if @videok.count == 0 %>
    <h1>Il n'y a pas encore de cours dans ce niveau</h1>
  <% else %>
    <% @videok.each do |video| %>

        <a href="/videos/<%= video.id %>">
          <p><%= image_tag video.video_img.url(:medium), class:"center-block img-responsive" %><p>
          <h5><%= video.title %></h5>
        </a>
      
    <% end %>
  <% end %>
  <div class="text-center" >

    <%= paginate @videok %>

  </div>
</div>
