<div class="row text-center">

  <h1>Classe de Niveau <%= @console.id %> : <%= @console.title %></h1>
  <br>
  <% if @videok.count == 0 %>
    <h1>Il n'y a pas encore de cours dans cette classe.</h1>
  <% else %>
    <% @videok.each do |video| %>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <a href="/videos/<%= video.id %>">
          <p><%= image_tag video.video_img.url(:medium), class:"#{video.style} center-block img-responsive" %><p>
          <h5><%= video.title %></h5>
        </a>
        <br>
      </div>
    <% end %>
  <% end %>
  <div class="text-center" >
    <%= paginate @videok, :window => 4 %>
    <p><%= link_to "Retour", pages_videos_path %></p>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
