<p>
  <% if comment.user.present? %>
    <span><%= image_tag comment.user.avatar.url(:thumb) %></span>
  <% else %>
    <span><%= image_tag ('thumb/avatar.png') %></span>
  <% end %>
  &nbsp;
  <strong><em><%= comment.user.username %></strong></em>
  <%=raw markdown.render comment.content %>
  <% if user_signed_in? %>
    <% if current_user.id == comment.user_id %>
      <%= link_to "Editer", edit_post_comment_path(comment.post, comment) %>
    <% end %>
    <% if current_user.role == 'admin' && current_user.role != nil%>
      <%= link_to "Editer", edit_post_comment_path(comment.post, comment) %> -
      <%= link_to "Supprimer", post_comment_path(comment.post, comment), method: :delete, data: {confirm: "Confirmer la suppression de cette annotation ?"}  %>
    <% end %>
  <% end %>
</p>
<br>
