<h1>Modifier la vidéo</h1>

<%= simple_form_for @video, :html => { :multipart => true } do |f| %>
  <%= f.input :title %>
  <%= f.input :console_id %>
  <%= f.input :link %>
  <%= f.input :style %>
  <%= f.file_field :video_img %>
  <%= f.button :submit %>
<% end %>
