
<div class="row text-center">
  <div class="embed-responsive embed-responsive-16by9 col-xs-12 col-md-9">
    <iframe src="<%= @video.link %>" frameborder="0" allowfullscreen ></iframe>
  </div>

<div class="col-xs-12 col-md-3">
  <br>
  <p><%= link_to "Retour", console_path(@video.console_id) %></p>
  <br>
</div>




  <div class="text-center">
    <div class="image col-xs-12 col-md-3">
      <a href="/tests/<%= @video.id %>/reponses/new"><img src="<%= asset_path( 'dstlink.png' ) %>" alt="DST" id="dstlink">
        <div id="dsttext">
        <h4>Passe ton DST<br>une fois le cours<br>visionné...<br>
        <img id="dstimg" src="<%= asset_path( 'pixelsite.png' )%>"></img>
        <br>
        ...Et débloque<br> un nouveau <br>cours !
        </h4>
        </div>
      </a>
      <br>
    </div>
</div>
