<br>
<div>

  <div class="text-center">
    <h1>Corriger DST</h1>
    <h4>Cours N°<%= @reponse.test_id %> - <%= @test.video_title %> - Elève : <%= @reponse.user_username %></h4>
  </div>

  <div class="image">
    <img src="<%= asset_path( 'dstsheet.png' ) %>" alt="DST" class="center-block" id="dstshowlink">

    <div id="dstshowtext">
    <%= simple_form_for ([@test, @reponse]) do |f| %>
      <p><%= @test.question_1 %></p>
      <%= f.input :reponse_1, :input_html => {maxlength: 120, id: 'dstshowinput'} %>
      <p><%= @test.answer_1 %> <%= f.number_field :note_1, min: 0, max: 4, step: 0.5 %></p><br>
      <p><%= @test.question_2 %></p>
      <%= f.input :reponse_2, :input_html => {maxlength: 120, id: 'dstshowinput'} %>
      <p><%= @test.answer_2 %> <%= f.number_field :note_2, min: 0, max: 4, step: 0.5 %></p><br>
      <p><%= @test.question_3 %></p>
      <%= f.input :reponse_3, :input_html => {maxlength: 120, id: 'dstshowinput'} %>
      <p><%= @test.answer_3 %> <%= f.number_field :note_3, min: 0, max: 4, step: 0.5 %></p><br>
      <p><%= @test.question_4 %></p>
      <%= f.input :reponse_4, :input_html => {maxlength: 120, id: 'dstshowinput'} %>
      <p><%= @test.answer_4 %> <%= f.number_field :note_4, min: 0, max: 4, step: 0.5 %></p><br>
      <%= f.input :appreciation, :input_html => {maxlength: 120, id: 'dstshowinput'} %>

      <%= f.button :submit, 'Corriger la copie' %>
    <% end %>
    </div>
  </div>
</div>
