<br>
<div>
  <div class="image">

    <img src="<%= asset_path( 'dstsheet.png' ) %>" alt="DST" class="center-block" id="dstshowlink">

    <div id="dstshowtext">
      <h4 class="text-center stylotext">DST N°<%= @test.id %> - <%= @test.video_title %></h4>
      <br>
      <%= simple_form_for ([@test, @reponse]) do |f| %>
      <p id="submitdst2" class="text-center"><%= @reponse.errors[:user_id].first %></p>
      <h4>
        <% 4.times do |i| %>
          <% i += 1 %>
          Q<%= i %> : <%= eval("@test.question_#{i}") %>
          <p><%= f.input ("reponse_#{i}").to_sym, label: false, placeholder: "Tape ta réponse ici...", :input_html => {maxlength: 120, id: 'dstshowinput', class:'stylotext'} %></p>
        <% end %>
      </h4>
      <br>
      <br>
      <p id="submitdst" class="text-center"><%= f.button :submit, 'Rendre sa copie' %></p>
      <% end %>
    </div>

  </div>
</div>
