<br>
<div>
  <div class="image">
    <img src="<%= asset_path( 'dstsheet.png' ) %>" alt="DST" class="img-responsive center-block" id="dstshowlink">
      <div id="dstshowtext">
        <h4>
          <p>Q1 : <%= @test.question_1 %></p>
          <p><%= @reponse.reponse_1 %></p>
          <p>Réponse : <%= @test.answer_1 %></p><br>
          <p>Q2 : <%= @test.question_2 %></p>
          <p><%= @reponse.reponse_2 %></p>
          <p>Réponse : <%= @test.answer_2 %></p><br>
          <p>Q3 : <%= @test.question_3 %></p>
          <p><%= @reponse.reponse_3 %></p>
          <p>Réponse : <%= @test.answer_3 %></p><br>
          <p>Q4 : <%= @test.question_4 %></p>
          <p><%= @reponse.reponse_4 %></p>
          <p>Réponse : <%= @test.answer_4 %></p>
        </h4>
        <br>
        <br>
        <%= @reponse.total %>/10
      </div>
  </div>
</div>
