<div class= "text-center">

    <h1>Master Page</h1>

</div>
<br>

<p><%= link_to "Salle cachée", pages_correspondances_path %></p>
<p><%= link_to "Nouvelle vidéo", new_video_path %></p>


<div class= "row" >
  <div class= "col-md-2" >
    <h3>Users List</h3>
    <% @users.each do |user| %>
      <p><%= user.id %> - <%= user.username %> - <%= user.email %></p>
    <% end %>
  </div>

  <div class= "col-md-2" >
    <h3>Vidéos List</h3>
    <% @videos.each do |video| %>
      <p><%= video.id %> - <%= video.title %></p>

        <p><% if user_signed_in? %>
            <% if current_user.role == "admin" %>
              <%= link_to "Editer", edit_video_path(video.id) %>
            <% end %>
          <% end %>
        </p>
        <% end %>
  </div>

  <div class= "col-md-2" >
    <h3>Consoles List</h3>
    <% @consoles.each do |console| %>
      <p><%= console.id %> - <%= console.title %></p>
    <% end %>
  </div>

  <div class= "col-md-2" >
    <h3>Posts List</h3>
    <% @posts.each do |post| %>
      <p><%= post.id %> - <%= post.title %></p>
      <p><%= post.category.name %></p>
        <p><% if user_signed_in? %>
            <% if current_user.role == "admin" %>
              <%= link_to "Editer", post_path(post.id) %>
            <% end %>
          <% end %>
        </p>
        <% end %>
  </div>

  <div class= "col-md-2" >
    <h3>Comments List</h3>
    <% @comments.each do |comment| %>
      <p><%= comment.content %></p>
      <p><%= comment.user_username %></p>
        <p><% if user_signed_in? %>
            <% if current_user.role == "admin" %>
              <%= link_to "Editer", post_path(comment.post_id) %>
            <% end %>
          <% end %>
        </p>
        <% end %>
  </div>

  <div class= "col-md-2" >
    <h3>Posts_visits List</h3>
    <% @visits.each do |visit| %>
      <p><%= visit.id %> - <%= visit.post_id %> - <%= visit.user_username %> - <%= visit.updated_at %></p>

    <% end %>
  </div>

</div>
