<div class= "text-center">

    <h1>Master Page</h1>

</div>

<div class= "row" >
  <div class= "col-md-4" >
    <h3>Users List</h3>
    <% @user.each do |user| %>
      <p><%= user.id %> - <%= user.username %> - <%= user.email %></p>
    <% end %>
  </div>

  <div class= "col-md-4" >
    <h3>Posts List</h3>
    <% @post.each do |post| %>
      <p><%= post.id %> - <%= post.title %></p>
      <p><%= post.category.name %></p>
        <p><% if user_signed_in? %>
            <% if current_user.role == "admin" %>
              <%= link_to "Editer", post_path(post.id) %>
            <% end %>
          <% end %>
        </p>
        <% end %>
  </div>

  <div class= "col-md-4" >
    <h3>Visits List</h3>
    <% @visit.each do |visit| %>
      <p><%= visit.id %> - <%= visit.post_id %> - <%= visit.user_username %> - <%= visit.updated_at %></p>

    <% end %>
  </div>

</div>
