<div class= "text-center" style="color:white">

    <h1 class="craietext">MASTER PAGE</h1>

</div>
<br>

<div style="color:white">

<p>Total des élèves = <%= User.count %></p>
<p><%= link_to "Nouvel article", new_post_path %></p>
<p><%= link_to "Nouvelle vidéo", new_video_path %></p>
<p><%= link_to "Nouveau DST", new_test_path %></p>
<p><%= link_to "Salle cachée", pages_correspondances_path %></p>


<div class= "row" >
  <div class= "col-xs-6 col-md-2" >
    <h3>Users List</h3>
    <% if User.exists? %>
      <% @users.each do |user| %>
        <p><%= user.id %> - <%= user.username %> - <%= user.email %></p>
      <% end %>
    <% end %>
  </div>

  <div class= "col-xs-6 col-md-2" >
    <h3>Vidéos List</h3>
    <% if Video.exists? %>
      <% @videos.each do |video| %>
        <p><%= video.id %> - <%= video.title %></p>

          <p><% if user_signed_in? %>
              <% if current_user.role == "admin" %>
                <%= link_to "Editer", edit_video_path(video.id) %>
              <% end %>
            <% end %>
          </p>
          <% end %>
      <% end %>
  </div>

  <div class= "col-xs-6 col-md-2" >
    <h3>Tests List</h3>
    <% if Test.exists? %>
      <% @tests.each do |test| %>
        <p><%= test.id %> - <%= test.video_title %></p>

          <p><% if user_signed_in? %>
              <% if current_user.role == "admin" %>
                <%= link_to "Editer", edit_test_path(test.id) %>
              <% end %>
            <% end %>
          </p>
          <% end %>
      <% end %>
  </div>

  <div class= "col-xs-6 col-md-2" >
    <h3>Reponses List</h3>
    <% if Reponse.exists? %>
      <% @reponsesacorriger.each do |reponse| %>

        <% if User.where(username: reponse.user_username).exists? %>
        <p><%= reponse.id %> - test_id :<%= reponse.test_id %> - <%= reponse.user_username %></p>

          <p><% if user_signed_in? %>
              <% if current_user.role == "admin" %>
                <a href="/tests/<%= reponse.test_id %>/reponses/<%= reponse.id %>/edit">Noter</a>
              <% end %>
            <% end %>
          </p>
          <% end %>
        <% end %>
      <% end %>
  </div>

  <div class= "col-xs-6 col-md-2" >
    <h3>Consoles List</h3>
    <% if Console.exists? %>
      <% @consoles.each do |console| %>
        <p><%= console.id %> - <%= console.title %></p>
        <%= link_to "Editer", edit_console_path(console.id) %>
      <% end %>
    <% end %>
  </div>

  <div class= "col-xs-6 col-md-2" >
    <h3>Posts List</h3>
    <% if Post.exists? %>
      <% @posts.each do |post| %>
        <p><%= post.id %> - <%= post.title %></p>
        <p><%= post.category.name %></p>
          <p><% if user_signed_in? %>
              <% if current_user.role == "admin" %>
                <%= link_to "Editer", post_path(post.id) %>
              <% end %>
            <% end %>
          </p>
      <% end %>
    <% end %>

  </div>

  <div class= "col-xs-6 col-md-2" >
    <h3>Comments List</h3>
    <% if Comment.exists? %>
      <% @comments.each do |comment| %>
        <p><%= comment.content %></p>
        <p><%= comment.user_username %></p>
        <p><% if user_signed_in? %>
             <% if current_user.role == "admin" %>
             <a href="/posts/<%= comment.post_id %>/comments/<%= comment.id %>/edit">Editer</a>
             <% end %>
           <% end %>
        </p>
       <% end %>
    <% end %>
  </div>

  <div class= "col-xs-6 col-md-2" >
    <h3>Posts_visits List</h3>
    <% if Visit.exists? %>
      <% @visits.each do |visit| %>
        <p><%= visit.id %> - <%= visit.post_id %> - <%= visit.user_username %> - <%= visit.updated_at %></p>
      <% end %>
    <% end %>
  </div>

</div>
</div>
