<div class= "text-center" style="color:#B3B1B2">

    <h1 class="craietext">MASTER PAGE</h1>

</div>
<br>

<div style="color:#B3B1B2">
  <div class="col-xs-12">
    <div class="col-xs-6 text-left">
      <p>Total Users = <%= User.count %></p>
      <p>Total Reponses = <%= Reponse.count %></p>
      <p>Total Posts = <%= Post.count %></p>
      <p>Total Comments = <%= Comment.count %></p>
    </div>
    <div class="col-xs-6 text-right">
      <p><%= link_to "Ecrire un nouveau livre", new_post_path %></p>
      <p><%= link_to "Nouvelle vidéo", new_video_path %></p>
      <p><%= link_to "Nouveau DST", new_test_path %></p>
      <p><%= link_to "Salle cachée", pages_correspondances_path %></p>
    </div>
  </div>

  <div class= "col-xs-6 col-md-2" >
    <h3>DST à corriger</h3>
    <% if Reponse.exists? %>
      <% @reponsesacorriger.each do |reponse| %>

        <% if User.where(username: reponse.user_username).exists? %>
        <p><%= reponse.id %> - test_id :<%= reponse.test_id %> - <%= reponse.user_username %></p>

          <p><% if user_signed_in? %>
              <% if current_user.role == "admin" %>
                <a href="/tests/<%= reponse.test_id %>/reponses/<%= reponse.id %>/edit">Noter</a>
              <% end %>
            <% end %>
          </p>
          <% end %>
        <% end %>
      <% end %>
  </div>

  <div class= "col-xs-6 col-md-2" >
    <h3>Articles à valider</h3>
    <% if Post.pending.exists? %>
      <% Post.pending.each do |post| %>
        <p><%= post.id %> - <%= post.title %> - <%= post.author %></p>
        <a href="/posts/<%= post.id %>">Lire</a>
      <% end %>
    <% end %>
  </div>

  <div class= "col-xs-6 col-md-2" >
    <h3>Articles en cours de créa</h3>
    <% if Post.draft.exists? %>
      <% Post.draft.each do |post| %>
        <p><%= post.id %> - <%= post.title %> - <%= post.author %></p>
        <a href="/posts/<%= post.id %>">Lire</a>
      <% end %>
    <% end %>
  </div>

  <div class= "col-xs-6 col-md-4" >
    <h3>Comments List</h3>
    <% if Comment.exists? %>
      <% @comments.first(10).each do |comment| %>
        <p><%= comment.content %></p>
        <p><%= comment.user_username %></p>
        <p><% if user_signed_in? %>
             <% if current_user.role == "admin" %>
             <a href="/posts/<%= comment.post_id %>/comments/<%= comment.id %>/edit">Editer</a>
             <% end %>
           <% end %>
        </p>
       <% end %>
    <% end %>
  </div>

  <div class= "col-xs-6 col-md-4" >
    <h3>Posts_visits List</h3>
    <% if Visit.exists? %>
      <% @visits.first(10).each do |visit| %>
        <p><%= visit.id %> - <%= visit.post_id %> - <%= visit.user_username %> - <%= visit.updated_at %></p>
      <% end %>
    <% end %>
  </div>

  <div class= "col-xs-6 col-md-2" >
    <h3>Vidéos List</h3>
    <% if Video.exists? %>
      <% @videos.each do |video| %>
        <p><%= video.id %> - <%= video.title %><br><%= video.aasm_state %></p>

          <p>
            <% if user_signed_in? %>
              <% if current_user.role == "admin" %>
                <%= link_to "Editer", edit_video_path(video.id) %>
              <% end %>
            <% end %>
          </p>
          <% if video.draft? %>
            <%= button_to "Publier", {:controller => :videos, :action => 'publish', :id => video.id }, :method => :post %>
          <% end %>
          <br>
      <% end %>
    <% end %>
  </div>

  <div class= "col-xs-6 col-md-2" >
    <h3>Tests List</h3>
    <% if Test.exists? %>
      <% @tests.each do |test| %>
        <p><%= test.id %> - <%= test.video_title %></p>

          <p><% if user_signed_in? %>
              <% if current_user.role == "admin" %>
                <%= link_to "Editer", edit_test_path(test.id) %>
              <% end %>
            <% end %>
          </p>
          <% end %>
      <% end %>
  </div>

  <div class= "col-xs-6 col-md-2" >
    <h3>Consoles List</h3>
    <% if Console.exists? %>
      <% @consoles.each do |console| %>
        <p><%= console.id %> - <%= console.title %></p>
        <%= link_to "Editer", edit_console_path(console.id) %>
      <% end %>
    <% end %>
  </div>

  <div class= "col-xs-6 col-md-4" >
    <h3>Posts List</h3>
    <% if Post.exists? %>
      <% Post.published.each do |post| %>
        <p><%= post.id %> - <%= post.title %></p>
        <p><%= post.category.name %></p>
          <p><% if user_signed_in? %>
              <% if current_user.role == "admin" %>
                <%= link_to "Editer", post_path(post.id) %>
              <% end %>
            <% end %>
          </p>
      <% end %>
    <% end %>

  </div>

  <div class= "row" >
    <div class= "col-xs-6 col-md-4" >
      <h3>Users List</h3>
      <% if User.exists? %>
        <% @users.each do |user| %>
          <p><%= user.id %> - <%= user.username %> <%= image_tag user.avatar.url(:thumb), class:"topten_avatar" %></p>
          <p><%= user.email %></p>
        <% end %>
      <% end %>
    </div>

</div>
</div>
