<div style="color:white" class="row transtext craietext text-center">
  <h2 ><em>CASIER DE "<%= @user.username.upcase %>"</em></h2>
  <%= link_to "MODIFIER SON PROFIL".upcase, edit_user_registration_path %>

<br>
<br>

  <div class="col-xs-12 col-sm-4">
      <h4>CLASSEMENT GENERAL</4>
      <% if @user.average == nil %>
      <h4>NOUVEL ELEVE</h4>
      <% elsif @user.role == "admin" %>
      <h4><span style="color:green">DIRECTEUR</span> DE L ECOLE !</h4>
      <% elsif @ranknote == 0 %>
      <h4><span style="color:green"><%= @ranknote + 1 %> ER(E)</span> DE LA CLASSE !</h4>
      <% elsif @ranknote + 1 == @goodusers.count %>
      <h4><span style="color:red">DERNIER(E)</span> DE LA CLASSE !</h4>

      <% else %>

      <h4><span style="color:#bfbfbf"><%= @ranknote + 1 %> EME</span> SUR <%= User.count %></h4>
      <% end %>

      <% if @user.score == nil || @user.score == 0  %>
      <h4>0 POINTS</h4>
      <% else %>
      <a href="/pages/halloffame"><h4><%= (@user.score * 1000).round %> POINTS</h4></a>
      <% end %>
      <h4><%= image_tag @user.avatar.url(:medium), class:"img-responsive center-block" %></h4>

      <h4> INSCRIT(E) DEPUIS LE <span style="color:#bfbfbf"><%= l(@user.created_at, format: "%e %m %Y" ) %></span> </h4>
      <a href="http://discourse.viensfairetesdevoirs.com/t/officiel-top-10-score-eleves/132/79"><h4>POINTS BONUS : <%= 0 %> PTS</h4></a>
  </div>

  <br>

  <div class="col-xs-12 col-sm-4">

    <% if @userreponse.count == 0 %>
      <h1 style="color:white" class="craietext">VA D'ABORD TRAVAILLER !</h1>
      <a href="/pages/videos"> <h5>ALLER EN COURS</h5></a>

    <% else %>

      <% @userreponse.each do |reponse| %>
      <% @test = Test.find(reponse.test_id) %>
    <div>

      <% @console = Console.find(reponse.console_id) %>
      <h4><%= image_tag @console.console_img.url, class:"consoleimg_small" %><%= @test.video_title.upcase %> = <span style="color:red"><%= number_to_human(reponse.total) %>/10</span><br><a href="/tests/<%= reponse.test_id %>/reponses/<%= reponse.id %>">VOIR CORRECTION</a></h4>

      <!-- <h5><span style="color:red"><%= number_to_human(reponse.total) %>/10</span> - <a href="/tests/<%= reponse.test_id %>/reponses/<%= reponse.id %>">VOIR CORRECTION</a></h5> -->
    </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-4 text-center">
    <h4>MOYENNE DE L'ECOLE = <%= number_with_precision(@goodreponses.average(:total), precision: 2) %>/10</h4>
    <% if @user.average == nil %>
      <h4 style="color:red">PASSE AU MOINS 2 DEVOIRS POUR AVOIR TA MOYENNE</h4>

    <% elsif @user.average < @goodreponses.average(:total) %>
      <h4 style="color:red">TA MOYENNE = <%= number_with_precision(@user.average, precision: 2) %>/10</h4>

    <% elsif %>
      <h4 style="color:green">TA MOYENNE = <%= number_with_precision(@user.average, precision: 2) %>/10</h4>

    <% end %>

  <br>
    <% if @uservisits.count == 0 %>
    <h4>DERNIER LIVRE EMPRUNTE : </h4>
    <h4 style="color:red">AUCUN</h4>
    <a href="/posts"> <h5>EMPRUNTER UN LIVRE AU C.D.I</h5></a>
    <% else %>
    <% @lastpost = Post.where(id: @uservisits.last.post_id).last %>
    <h4>DERNIER LIVRE EMPRUNTE : </h4>
    <h4><a href="/posts/<%= @lastpost.id %>"><%= image_tag @lastpost.post_img.url(:post_show), class:"img-responsive center-block" %></a></h4>
    <h4><%= @lastpost.title.upcase %></h4>
    <% end %>

  </div>



</div>
