<div style="color:white" class="row transtext craietext text-center">
  <h2 ><em>CASIER DE <%= @user.username.upcase %></em></h2>
<br>
<br>
<div class="col-xs-12 col-sm-6">
  <% if @userreponse.count == 0 %>
    <h1 style="color:white" class="craietext">VA D'ABORD TRAVAILLER !</h1>
  <% else %>
  <% @userreponse.each do |reponse| %>
  <% @test = Test.where(id: reponse.test_id).first %>
  <div>
    <h4><%= @test.video_title.upcase %> = <%= reponse.total %>/10</h4>
  </div>
    <% end %>
    <% end %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <% if @userreponse.count == 0 %>
      <h1 style="color:white" class="craietext">VA D'ABORD TRAVAILLER !</h1>
      <h4><%= image_tag @user.avatar.url(:medium), class:"img-responsive center-block" %></h4>
      <%= link_to "MODIFIER SON PROFIL".upcase, edit_user_registration_path %>
    <% else %>
    <h4 style="color:red">TA MOYENNE GENERALE= <%= @userreponse.average(:total).round(1) %>/10</h4>
    <h4><%= image_tag @user.avatar.url(:medium), class:"img-responsive center-block" %></h4>
    <%= link_to "MODIFIER SON PROFIL".upcase, edit_user_registration_path %>

  </div>

<% end %>

</div>
