<div class="col-xs-12 title_top">

<div class="help-block col-sm-3 hidden-xs"></div>

<div class=" col-xs-12 col-sm-6">
<h1 class="arcadetext text-center" style="color:green">TOP SCORES</h1>
</div>

<a href="http://discourse.viensfairetesdevoirs.com/t/officiel-top-10-score-eleves-dispo/132/18?u=papako">
  <div class="cadeau_du_mois col-sm-3 hidden-xs">

  <img class="cadeau" src="<%= asset_path('mario-modern.jpg') %>" alt="Comment gagner ?">
  <h5 class="craietext text_gift" style="color:red">A GAGNER CE MOIS!</h5>
  <!-- <h5 style="color:white">A gagner<br> ce mois-ci !</h5> -->
  </div>
</a>





<div class="col-xs-12 text-center arcadetext">
  <div class="hidden-xs hidden-sm">
    <div class="col-xs-2 text-center ">
      <h2 style="color:#F79B1E">RANG</h2>
    </div>
    <div class="col-xs-4">
      <h2 style="color:#F79B1E">NOM</h2>
    </div>
    <div class="col-xs-2">
      <h2 style="color:#F79B1E">MOY.</h2>
    </div>
    <div class="col-xs-2">
      <h2 style="color:#F79B1E">DST</h2>
    </div>
    <div class="col-xs-2">
      <h2 style="color:#F79B1E">SCORE</h2>
      <br>
    </div>
  </div>

  <div class="hidden-lg hidden-md">
    <div class="col-xs-4 text-center ">
      <h4 style="color:#F79B1E">RANG</h4>
    </div>
    <div class="col-xs-4 ">
      <h4 style="color:#F79B1E">NOM</h4>
    </div>
    <div class="col-xs-4">
      <h4 style="color:#F79B1E">SCORE</h4>
      <br>
    </div>
  </div>


</div>

<br>


<div class="col-xs-12 text-center arcadetext pad_bot">


  <% i = 0 %>
  <% @topten.each do |user| %>

  <% i += 1 %>

  <div class="hidden-xs hidden-sm">
    <div class="col-xs-2 text-center">
    <h3 style="color:white" class=""> <%= i %> <span style="color:#33cc33"></h3>
    </div>
    <div class="col-xs-4 text-left">
      <h4 style="color:white" id="top10-margin"><%= image_tag user.avatar.url(:thumb), class:"topten_avatar" %> <%= user.username.first(12) %> </h4>
    </div>
    <div class="col-xs-2 text-center">
      <h3 style="color:white"><%= user.average %></h3>
    </div>
    <div class="col-xs-2">
      <h3 style="color:white">X <%= user.reponses.count %></h3>
    </div>
    <div class="col-xs-2">
      <h3 style="color:white"><%= user.score.round(3)%></h3>
    </div>
  </div>

  <div class="hidden-lg hidden-md">
    <div class="col-xs-4 text-center">
    <h4 style="color:white" class=""> <%= i %> <span style="color:#33cc33"></h4>
    </div>
    <div class="col-xs-4 text-center">
      <h4 style="color:white"><%= user.username.first(3) %> </h4>
    </div>

    <div class="col-xs-4">
      <h4 style="color:white"><%= user.score.round(3)%></h4>
    </div>
  </div>

  <% end %>
</div>


<!--
<% if user_signed_in? %>
  <% if current_user.average != nil %>
<h4 style="color:white" class="craietext"> TON SCORE = <%= current_user.score %> </h4>
  <% else %>
<h4 style="color:white" class="craietext"> FAIS AU MOINS 2 DEVOIRS POUR ETRE DANS LE CLASSEMENT </h4>
  <% end %>
<% else %>
  <h4 style="color:white" class="craietext"> FAIS AU MOINS 2 DEVOIRS POUR ETRE DANS LE CLASSEMENT </h4>
<% end %>  -->
