<div class="col-xs-12 title_top">

<div class="col-sm-3 hidden-xs">
  <h5 style="color:white" class="craietext">
    IL TE RESTE...
  </h5>
  <h5 style="color:white" class="craietext" id="countdown"></h5>
  <h5 style="color:white" class="craietext">...POUR REMPORTER LE LOT</h5>
</div>

<div class=" col-xs-12 col-sm-6">
<h1 class="arcadetext text-center" style="color:green">TOP SCORES</h1>
</div>

<a href="http://discourse.viensfairetesdevoirs.com/t/officiel-top-10-score-eleves/132/78">
  <div class="cadeau_du_mois col-sm-3 hidden-xs">

  <img class="cadeau" src="<%= asset_path('gift.png') %>" alt="Comment gagner ?">
  <h4 class="craietext text_gift" style="color:white">A GAGNER CE MOIS!</h4>
  <!-- <h5 style="color:white">A gagner<br> ce mois-ci !</h5> -->
  </div>
</a>
</div>




<div class="col-xs-12 arcadetext">
  <div class="hidden-xs hidden-sm">
    <div class="col-xs-2 text-center ">
      <h2 style="color:#F79B1E">RANG</h2>
    </div>
    <div class="col-xs-4 text-center">
      <h2 style="color:#F79B1E">NOM</h2>
    </div>
    <div class="col-xs-2 text-center">
      <h2 style="color:#F79B1E">MOY.</h2>
    </div>
    <div class="col-xs-1 text-center">
      <h3 style="color:#F79B1E">DST</h3>
    </div>
    <div class="col-xs-1 text-center">
      <h3 style="color:#F79B1E">BNS</h3>
    </div>
    <div class="col-xs-2 text-right">
      <h2 style="color:#F79B1E">SCORE</h2>
      <br>
    </div>
  </div>

  <div class="hidden-lg hidden-md">
    <div class="col-xs-2 ">
      <h4 style="color:#F79B1E" class="text-center">R.</h4>
    </div>
    <div class="col-xs-5 text-center">
      <h4 style="color:#F79B1E">NOM</h4>
    </div>
    <div class="col-xs-5 text-right">
      <h4 style="color:#F79B1E">SCORE</h4>
      <br>
    </div>
  </div>
</div>

<br>


<div class="col-xs-12 arcadetext pad_bot">


  <% i = 0 %>
  <% @topten.each do |user| %>
  <% @dst_notnill = Reponse.where("total is NOT NULL").where(user_username: user.username) %>

  <% i += 1 %>

  <div class="hidden-xs hidden-sm">
    <div class="col-xs-2 text-center">
    <h3 style="color:white" class=""> <%= i %> <span style="color:#33cc33"></h3>
    </div>
    <div class="col-xs-4 text-left">
      <h4 style="color:white" id="top10-margin"><%= image_tag user.avatar.url(:thumb), class:"topten_avatar" %> <%= user.username.first(12) %> </h4>
    </div>
    <div class="col-xs-2 text-center">
      <h3 style="color:white"><%= number_with_precision(user.average, precision: 2) %></h3>
    </div>
    <div class="col-xs-1 text-center">
      <h3 style="color:white">X<%= @dst_notnill.count %></h3>
    </div>
    <div class="col-xs-1 text-center">
      <h3 style="color:white">+<%= user.bonus %></h3>
    </div>
    <div class="col-xs-2 text-right">
      <h3 style="color:white"><%= (user.score).round %></h3>
    </div>
  </div>

  <div class="hidden-lg hidden-md">
    <div class="col-xs-2 text-center">
    <h4 style="color:white" class=""> <%= i %> <span style="color:#33cc33"></h4>
    </div>
    <div class="col-xs-5 text-center">
      <h4 style="color:white"><%= user.username.first(3) %> </h4>
    </div>

    <div class="col-xs-5 text-right">
      <h4 style="color:white"><%= (user.score).round %> </h4>
    </div>
  </div>

  <% end %>


</div>

<div class="pad_bot text-center">
<% if user_signed_in? %>
  <% if current_user.score > 0 %>

<h4 style="color:white" class="craietext"> TON SCORE = <%= (current_user.score).round %>  </h4>
  <% else %>
<h4 style="color:white" class="craietext"> FAIS AU MOINS 2 DEVOIRS POUR ETRE DANS LE CLASSEMENT </h4>
  <% end %>
<% else %>
  <h4 style="color:white" class="craietext"> FAIS AU MOINS 2 DEVOIRS POUR ETRE DANS LE CLASSEMENT </h4>
<% end %>
<br>
</div>

<script>
  var audio = new Audio('<%= audio_path('pac-man-intro.mp3') %>');

  var easter_egg = new Konami(function() {
            //location.reload();
            bootbox.hideAll();
            audio.play();

            bootbox.dialog({
              className: "gift_modal",
              title: "Cadeau Du Mois : l'Amiibo Pac-Man",
              message: '<div class="text-justify">' +
              "<p>Pac-Man, personnage emblématique de l’histoire du jeu vidéo, est un rond jaune doté d’une bouche. Il doit manger des pac-gommes et des bonus (sous forme de fruits, et d’une clé à 5 000 points) dans un labyrinthe hanté par quatre fantômes.<br><br>Quatre pac-gommes spéciales (super pac-gommes) rendent les fantômes de couleur bleu foncé et vulnérables pendant une courte période au cours de laquelle Pac-Man peut les manger.<br><br>Quand un fantôme se fait manger, ses yeux retournent dans la salle centrale du labyrinthe pour le ressusciter au bout de quelques secondes.<br><br> Le jeu original comprend 255 labyrinthes différents (le jeu était considéré comme allant à l’infini, mais le 256e niveau est injouable à cause d’un bug qui noie la moitié droite du niveau sous un gros amas de symboles, ce bug vient du fait que le nombre de niveaux était codé sur un seul octet).</p>" +
              '<img src="http://vignette1.wikia.nocookie.net/errors/images/f/f0/Split_Screen_in_Pac_Man.gif/revision/latest?cb=20080427010124" class="img-responsive center-block"/>' +
              "<p>Anecdote : Le nom original de ce personnage, PuckMan (l'homme qui fait 'Puck'), a été renommé en Pac-Man pour le marché Américain pour éviter que des petits malins griffonnent le 'P' sur les bornes d'arcade, rebaptisant notre héros 'Fuck-Man'<br><br>Première apparition : Pac-Man- Arcade - 1980</p>" +
              '</div>',
              onEscape: function() {
                audio.pause();
                audio.currentTime = 0;
                //location.reload();
                //setTimeout(function(){
                //  location.reload();
                //}, 500);
                //return false;
                bootbox.hideAll();
              }
            });
            return false;
  });
</script>

<!-- countdown script -->
<script type="text/javascript">
$("#countdown")
.countdown("2016/05/31 20:00:00", function(event) {
  $(this).text(
    event.strftime('%D JOUR(S) ET %H:%M:%S')
  );
});
</script>
