<div class="col-xs-12 title_top">

<div class="col-sm-3 col-xs-12">
  <h5 style="color:white" class="craietext">
    IL TE RESTE...
  </h5>
  <h5 style="color:white" class="craietext" id="countdown"></h5>
  <h5 style="color:white" class="craietext">...POUR REMPORTER LE LOT</h5>
</div>

<div class=" col-xs-12 col-sm-6">
<h1 class="arcadetext title_score text-center" style="color:green">TABLEAU DES SCORES</h1>
</div>

<a href="http://discourse.viensfairetesdevoirs.com/t/comment-remporter-le-cadeau-du-trimestre/645">
  <div class="cadeau_du_mois col-sm-3 col-xs-12">

  <img class="cadeau animated zoomInUp" src="http://discoursevftd.s3-eu-central-1.amazonaws.com/optimized/2X/6/651821edd83da6b9ea50a9a65c0f668211df7c49_1_489x500.png" class="img-responsive center-block" alt="Comment gagner ?">
  <h4 class="craietext text_gift" style="color:white">CADEAU DU TRIMESTRE!</h4>
  </div>
</a>
</div>




<div class="col-xs-12 arcadetext">
  <div class="hidden-xs hidden-sm">
    <div class="col-xs-2 text-center ">
      <h2 style="color:#F79B1E">RANG</h2>
    </div>
    <div class="col-xs-4 text-center">
      <h2 style="color:#F79B1E">NOM</h2>
    </div>
    <div class="col-xs-2 text-center">
      <h2 style="color:#F79B1E">MOY.</h2>
    </div>
    <div class="col-xs-1 text-center">
      <h3 style="color:#F79B1E">DST</h3>
    </div>
    <div class="col-xs-1 text-center">
      <h3 style="color:#F79B1E">BP</h3>
    </div>
    <div class="col-xs-2 text-right">
      <h2 style="color:#F79B1E">SCORE</h2>
      <br>
    </div>
  </div>

  <div class="hidden-lg hidden-md">
    <div class="col-xs-2 ">
      <h4 style="color:#F79B1E" class="text-center">R.</h4>
    </div>
    <div class="col-xs-5 text-center">
      <h4 style="color:#F79B1E">NOM</h4>
    </div>
    <div class="col-xs-5 text-right">
      <h4 style="color:#F79B1E">SCORE</h4>
      <br>
    </div>
  </div>
</div>

<br>


<div class="col-xs-12 arcadetext pad_bot">

  <% @tophundred.each_with_index do |user, index| %>
  <% @dst_notnill = user.reponses.where("total is NOT NULL") %>

  <div class="hidden-xs hidden-sm">
    <div class="col-xs-2 text-center">
    <h3 style="color:white" class=""> <%= index + 1 %> <span style="color:#33cc33"></h3>
    </div>
    <div class="col-xs-4 text-left">
      <h4 style="color:white" id="top10-margin"><%= image_tag user.avatar.url(:thumb), class:"topten_avatar" %> <%= user.username.first(12) %> </h4>
    </div>
    <div class="col-xs-2 text-center">
      <h3 style="color:white"><%= number_with_precision(user.average, precision: 2) %></h3>
    </div>
    <div class="col-xs-1 text-center">
      <h3 style="color:white">X<%= @dst_notnill.count %></h3>
    </div>
    <div class="col-xs-1 text-center">
      <h4 style="color:white">+<%= user.bonus %></h4>
    </div>
    <div class="col-xs-2 text-right">
      <h3 style="color:white"><%= (user.score).round %></h3>
    </div>
  </div>

  <div class="hidden-lg hidden-md">
    <div class="col-xs-2 text-center">
    <h4 style="color:white" class=""> <%= index + 1 %> <span style="color:#33cc33"></h4>
    </div>
    <div class="col-xs-5 text-center">
      <h4 style="color:white"><%= user.username.first(3) %> </h4>
    </div>

    <div class="col-xs-5 text-right">
      <h4 style="color:white"><%= (user.score).round %> </h4>
    </div>
  </div>

  <% end %>


</div>

<div class="pad_bot text-center">
<% if user_signed_in? %>
  <% if current_user.score > 0 %>

<h4 style="color:white" class="craietext"> TON SCORE = <%= (current_user.score).round %>  </h4>
  <% else %>
<h4 style="color:white" class="craietext"> FAIS AU MOINS 2 DEVOIRS POUR ETRE DANS LE CLASSEMENT </h4>
  <% end %>
<% else %>
  <h4 style="color:white" class="craietext"><a href="http://viensfairetesdevoirs.com/pages/videos"> FAIS AU MOINS 2 DEVOIRS POUR ETRE DANS LE CLASSEMENT</a></h4>
<% end %>
<br>
</div>

<!-- countdown script -->
<script type="text/javascript">
$("#countdown")
.countdown("2017/06/30 23:59:00", function(event) {
  $(this).text(
    event.strftime('%D JOUR(S) ET %H:%M:%S')
  );
});
</script>
