
<% @goodusers_average.each do |youser| %>
<% @score = youser.average * youser.reponses.count %>
<% youser.update score:@score %>
<% end %>

<div class="text-center">
<h2 style="color:white" class="text-center craietext"><em>LE TABLEAU DE LA GLOIRE</em></h2>

<br>
<br>
<ol>
<% @goodusers_average.each do |user| %>
<% image_tag user.avatar.url(:thumb) %>
<% @score = user.average * user.reponses.count %>
<h4><li style="color:white" class="text-center craietext"> <%= user.username.upcase %>  <span style="color:green"><%= @score.round(4)%> </span><span style="color:red"> <%= user.average %> X <%= user.reponses.count %> </span></li></h4>

<% end %>
</ol>
</div>

<br>
<br>

<% if user_signed_in? %>
  <% if current_user.average != nil %>
<h4 style="color:white" class="craietext"> TON SCORE = <%= current_user.average %> </h4>
  <% else %>
<h4 style="color:white" class="craietext"> FAIS AU MOINS 2 DEVOIRS POUR ETRE DANS LE CLASSEMENT </h4>
  <% end %>
<% else %>
  <h4 style="color:white" class="craietext"> FAIS AU MOINS 2 DEVOIRS POUR ETRE DANS LE CLASSEMENT </h4>
<% end %>
