<div class="col-xs-12 title_top">

<div class="col-sm-3 hidden-xs">
  <h5 style="color:white" class="craietext">
    IL TE RESTE...
  </h5>
  <h5 style="color:white" class="craietext" id="countdown"></h5>
  <h5 style="color:white" class="craietext">...POUR REMPORTER LE LOT</h5>
</div>

<div class=" col-xs-12 col-sm-6">
<h1 class="arcadetext text-center" style="color:green">TOP SCORES</h1>
</div>

<a href="http://discourse.viensfairetesdevoirs.com/t/officiel-top-10-score-eleves/132/41">
  <div class="cadeau_du_mois col-sm-3 hidden-xs">

  <img class="cadeau" src="<%= asset_path('meta_gift.png') %>" alt="Comment gagner ?">
  <h4 class="craietext text_gift" style="color:white">A GAGNER CE MOIS!</h4>
  <!-- <h5 style="color:white">A gagner<br> ce mois-ci !</h5> -->
  </div>
</a>
</div>




<div class="col-xs-12 text-center arcadetext">
  <div class="hidden-xs hidden-sm">
    <div class="col-xs-2 text-center ">
      <h2 style="color:#F79B1E">RANG</h2>
    </div>
    <div class="col-xs-4">
      <h2 style="color:#F79B1E">NOM</h2>
    </div>
    <div class="col-xs-2">
      <h2 style="color:#F79B1E">MOY.</h2>
    </div>
    <div class="col-xs-2">
      <h2 style="color:#F79B1E">DST</h2>
    </div>
    <div class="col-xs-2">
      <h2 style="color:#F79B1E">SCORE</h2>
      <br>
    </div>
  </div>

  <div class="hidden-lg hidden-md">
    <div class="col-xs-2 ">
      <h4 style="color:#F79B1E" class="text-center">R.</h4>
    </div>
    <div class="col-xs-5">
      <h4 style="color:#F79B1E">NOM</h4>
    </div>
    <div class="col-xs-5">
      <h4 style="color:#F79B1E">SCORE</h4>
      <br>
    </div>
  </div>
</div>

<br>


<div class="col-xs-12 text-center arcadetext pad_bot">


  <% i = 0 %>
  <% @topten.each do |user| %>
  <% @dst_notnill = Reponse.where("total is NOT NULL").where(user_username: user.username) %>

  <% i += 1 %>

  <div class="hidden-xs hidden-sm">
    <div class="col-xs-2 text-center">
    <h3 style="color:white" class=""> <%= i %> <span style="color:#33cc33"></h3>
    </div>
    <div class="col-xs-4 text-left">
      <h4 style="color:white" id="top10-margin"><%= image_tag user.avatar.url(:thumb), class:"topten_avatar" %> <%= user.username.first(12) %> </h4>
    </div>
    <div class="col-xs-2 text-center">
      <h3 style="color:white"><%= number_with_precision(user.average, precision: 2) %></h3>
    </div>
    <div class="col-xs-2">
      <h3 style="color:white">X <%= @dst_notnill.count %></h3>
    </div>
    <div class="col-xs-2">
      <h3 style="color:white"><%= number_with_precision(user.score, precision: 3) %></h3>
    </div>
  </div>

  <div class="hidden-lg hidden-md">
    <div class="col-xs-2 text-center">
    <h4 style="color:white" class=""> <%= i %> <span style="color:#33cc33"></h4>
    </div>
    <div class="col-xs-5 text-center">
      <h4 style="color:white"><%= user.username.first(3) %> </h4>
    </div>

    <div class="col-xs-5">
      <h4 style="color:white"><%= number_with_precision(user.score, precision: 3) %></h4>
    </div>
  </div>

  <% end %>


</div>

<div class="pad_bot text-center">
<% if user_signed_in? %>
  <% if current_user.score > 0 %>

<h4 style="color:white" class="craietext"> TON SCORE = <%= number_with_precision(current_user.score, precision: 3) %>  </h4>
  <% else %>
<h4 style="color:white" class="craietext"> FAIS AU MOINS 2 DEVOIRS POUR ETRE DANS LE CLASSEMENT </h4>
  <% end %>
<% else %>
  <h4 style="color:white" class="craietext"> FAIS AU MOINS 2 DEVOIRS POUR ETRE DANS LE CLASSEMENT </h4>
<% end %>
<br>
</div>

<script>
  //Haut, haut, bas, bas, gauche, droite, gauche, droite, B, A
  var k = [38, 38, 40, 40, 37, 39, 37, 39, 66, 65],
  n = 0;
  var audio = new Audio('<%= audio_path('kirby.mp3') %>');
  //audio.play();

  $(document).keydown(function (e) {
    if (e.keyCode === k[n++]) {
        if (n === k.length) {
            audio.play(); // à remplacer par votre code
            bootbox.dialog({
              className: "gift_modal",
              title: "Cadeau Du Mois : l'Amiibo Meta Knight",
              message: '<div class="text-justify">' +
              "<p>Meta Knight est un personnage récurrent de la série Kirby.<br><br>Ce mystérieux personnage, considéré comme le rival de Kirby, possède un fort sentiment de fierté. Quand il se bat à 100 % de ses capacités, il retire sa cape.<br><br>Même s'il se bat souvent contre Kirby, ils ont également travaillé main dans la main à de nombreuses reprises.<br><br>Bien que de caractère solitaire, Meta Knight n'en est pas moins le chef d'une petite armée (Les Metaminnions) et le propriétaire d'un immense vaisseau, le Halberd. Dans Super Smash Bros. Brawl sur Wii, il se fait d'ailleurs dérober ce vaisseau par l'armée subspatiale, et ce dernier est également détruit par Kirby dans Kirby Super Star Ultra (La vengeance de Meta Knight).<br><br>Dans Kirby's Adventure, on aperçoit le visage de Meta Knight après que Kirby l'ait battu : il ressemble en fait à Kirby, mais en bleu avec des yeux jaunes.<br><br>Au fur et à mesure des jeux, et si l'on se fie au dessin animé, Meta Knight serait en fait un adulte de la même race que Kirby, ce dernier n'étant encore qu'un bébé. C'est pourquoi il est capable de parler contrairement à Kirby.<br><br>Première apparition : Kirby's Adventure - Nes - 1993<br><br>PS: Pour stopper la musique, rafraichis la page</p>" +
              '</div>'
            });

            n = 0;
            return false;
        }
    }
    else {
        n = 0;
    }
  });
</script>



<!-- countdown script -->
<script type="text/javascript">
$("#countdown")
.countdown("2016/04/30 20:00:00", function(event) {
  $(this).text(
    event.strftime('%D JOUR(S) ET %H:%M:%S')
  );
});
</script>
