<div class= "text-center">
  <h3><em>Choisis un bouton !</em></h3>
</div>

<br>
<br>
<br>
<br>
<br>

  <div class= "row text-center">
    <div class= "col-sm-3 col-xs-12 ">
      <p><a href="pages/videos"><img src= "<%= asset_path('Bleu.png') %>" alt="VIDEOS" class="bouton img-responsive center-block"></a></p>
      <h5>Cours</h5>
    </div>
    <div class= "col-sm-3 col-xs-6">
      <p><a href="/pages/blog"><img src="<%= asset_path('Vert.png') %>" alt="CDI" class="bouton img-responsive center-block"></a></p>
      <h5>CDI</h5>
    </div>
    <div class= "col-sm-3 col-xs-6">
      <p><a href="/pages/dst"><img src="<%= asset_path('Jaune.png') %>" alt="DST" class="bouton img-responsive center-block"></a></p>
      <h5>Examens</h5>
    </div>
    <div class= "col-sm-3 col-xs-12">
      <p><a href="/pages/forum"><img src="<%= asset_path('Rouge.png') %>" alt="FORUM" class="bouton img-responsive center-block"></a></p>
      <h5>Récré</h5>
    </div>
    <% if user_signed_in? %>
      <% if current_user.role == "nanda" && current_user.role =! nil %>
    <a href="/pages/correspondances"><img src="<%= asset_path('nanda.png') %>" class="bouton img-responsive center-block">
      <%= link_to "Salle cachée", pages_correspondances_path %>
      <% end %>
    <% end %>
  </div>


  <br>
  <br>
  <br>
  <br>
  <div class= "row text-center">


    <div class= "col-sm-3 col-xs-12">
      <p><a href="pages/videos"><img src="<%= asset_path( 'borderblue.jpg' ) %>" alt="Last Vidéo" class="img-responsive center-block"></a></p>
      <h5>Last Video</h5>
    </div>
    <div class= "col-sm-3 col-xs-12">
      <p><a href="/posts/<%= Post.last.id %>"><img src="<%= asset_path( 'borderblue.jpg' ) %>" alt="Last Post" class="img-responsive center-block"></a></p>
      <h5>Last Post</h5>
    </div>
    <div class= "col-sm-3 col-xs-12">
      <p><a href="/pages/dst"><img src="<%= asset_path( 'borderblue.jpg' ) %>" alt="Last Note" class="img-responsive center-block"></a></p>
      <h5>Last Note</h5>
    </div>
    <div class= "col-sm-3 col-xs-12">
      <p><a href="/pages/forum"><img src="<%= asset_path( 'borderblue.jpg' ) %>" alt="Last Topic" class="img-responsive center-block"></a></p>
      <h5>Last Message</h5>
    </div>

  </div>

  <% if user_signed_in? %>
    <% if current_user.role == "admin" && current_user.role =! nil %>
      <%= link_to "Admin Page", pages_adminpage_path %>
    <% end %>


<% end %>
