<div class= "col-xs-12 text-center">
  <img src="<%= asset_path('logofull.png') %>" alt="viens faire tes devoirs" class="img-responsive center-block">
</div>

<br>
<br>
<br>
<br>
<br>

  <div class= "row text-center">
    <div class= "col-sm-3 col-xs-12 ">
      <p><a href="pages/videos"><img src= "<%= asset_path('Bleu.png') %>" alt="VIDEOS" class="bouton img-responsive center-block"></a></p>
      <h5>Cours</h5>
    </div>
    <div class= "col-sm-3 col-xs-6">
      <p><a href="/pages/blog"><img src="<%= asset_path('Vert.png') %>" alt="CDI" class="bouton img-responsive center-block"></a></p>
      <h5>CDI</h5>
    </div>
    <div class= "col-sm-3 col-xs-6">
      <p><a href="/pages/forum"><img src="<%= asset_path('Jaune.png') %>" alt="FORUM" class="bouton img-responsive center-block"></a></p>
      <h5>Récré</h5>
    </div>
    <div class= "col-sm-3 col-xs-12">
      <p><a href=""><img src="<%= asset_path('Rouge.png') %>" alt="" class="bouton img-responsive center-block"></a></p>
      <h5>Coopérative</h5>
    </div>

    <% if user_signed_in? %>
      <% if current_user.role == "nanda" && current_user.role =! nil %>

      <a href="/pages/correspondances"><img src="<%= asset_path('nanda.png') %>" class="bouton img-responsive center-block"></a>
         <h5>Salle cachée</h5>
      <% end %>
    <% end %>

  </div>


  <br>
  <br>

  <div class= "row text-center">


    <div class= "col-sm-3 col-xs-12">
      <% if Video.exists? %>
        <p><a href="/videos/<%= Video.last.id %>"><img src="<%= asset_path( 'borderblue.jpg' ) %>" alt="Last Vidéo" class="img-responsive center-block"></a></p>

      <% end %>
    </div>

    <div class= "col-sm-3 col-xs-12">
      <% if Post.exists? %>
        <p><a href="/posts/<%= Post.last.id %>"><img src="<%= asset_path( 'borderblue.jpg' ) %>" alt="Last Post" class="img-responsive center-block"></a></p>

      <% end %>
    </div>

    <div class= "col-sm-3 col-xs-12">
      <p><a href="/pages/dst"><img src="<%= asset_path( 'borderblue.jpg' ) %>" alt="Last Note" class="img-responsive center-block"></a></p>

    </div>

    <div class= "col-sm-3 col-xs-12">
      <p><a href="/pages/forum"><img src="<%= asset_path( 'borderblue.jpg' ) %>" alt="Last Topic" class="img-responsive center-block"></a></p>

    </div>

  </div>

  <% if user_signed_in? %>
    <% if current_user.role == "admin" && current_user.role =! nil %>
      <%= link_to "Admin Page", pages_adminpage_path %>
    <% end %>


<% end %>
