<div class="hidden-xs row text-center">
  <div class= "col-sm-2">
  <img src="<%= asset_path('Notice1.gif') %>" alt="notice" class="img-responsive center-block"><img>
    <h5><em>en construction</em></h5>
  </div>
  <div class= "col-sm-8">
    <img src="<%= asset_path('logofull2.png') %>" alt="viens faire tes devoirs" class="img-responsive center-block"><img>
  </div>
  <div class="col-sm-2">
    <br>
    <br>
    <img src="<%= asset_path('donate2.png') %>" alt="cooperative" class="img-responsive center-block"><img>
    <h5><em>en construction</em></h5>
  </div>
</div>

<div class="hidden-sm hidden-lg hidden-md">
<div class= "col-sm-6">
  <img src="<%= asset_path('logofull2.png') %>" alt="viens faire tes devoirs" class="img-responsive center-block"><img>
</div>
</div>

<div class="hidden-xs">
  <br>
  <br>
  <br>
</div>

  <div class= "row text-center" style="color:white">

    <div class= "col-sm-3 col-xs-12">
      <div class="bouton">
        <p><a href="pages/videos"><img src="<%= asset_path('Bleu.png') %>" alt="CDI" class="bouton" onmouseover="this.src='<%= asset_path('Bleu2.png') %>'" onmouseout="this.src='<%= asset_path('Bleu.png') %>'"></a></p>
            <h5 class="craietext">COURS</h5>
      </div>
    </div>

    <div class= "col-sm-3 col-xs-6">
      <div class="bouton">
        <p><a href="/pages/blog"><img src="<%= asset_path('Vert.png') %>" alt="CDI" class="bouton" onmouseover="this.src='<%= asset_path('Vert2.png') %>'" onmouseout="this.src='<%= asset_path('Vert.png') %>'"></a></p>
        <h5 class="craietext">CDI</h5>
      </div>
    </div>

    <div class= "col-sm-3 col-xs-6">
      <div class="bouton">
        <p><a href="/pages/forum"><img src="<%= asset_path('Jaunehaut.png') %>" alt="FORUM" class="bouton" onmouseover="this.src='<%= asset_path('Jaune2.png') %>'" onmouseout="this.src='<%= asset_path('Jaunehaut.png') %>'"></a></p>
        <h5 class="craietext">RECRE</h5>
      </div>
    </div>

    <div class= "col-sm-3 col-xs-12">
      <div class="bouton">
        <p><a href=""><img src="<%= asset_path('Rouge.png') %>" alt="FORUM" class="bouton" onmouseover="this.src='<%= asset_path('Rouge2.png') %>'" onmouseout="this.src='<%= asset_path('Rouge.png') %>'"></a></p>
        <h5 class="craietext">CASIER</h5>
      </div>
    </div>

    <% if user_signed_in? %>
      <% if current_user.role == "nanda" && current_user.role =! nil %>

      <a href="/pages/correspondances"><img src="<%= asset_path('nanda.png') %>" class="bouton"></a>
         <h5>Salle cachée</h5>
      <% end %>
    <% end %>

  </div>

  <br>
  <br>
  <br>

  <% if user_signed_in? %>
    <% if current_user.role == "admin" && current_user.role =! nil %>
      <%= link_to "Admin Page", pages_adminpage_path %>
    <% end %>


  <% end %>

  <div class= "text-center" style="color:white" >

    <a href="/videos/<%= Video.last.id %>">
      <div class= " col-sm-3 col-xs-12">
        <% if Video.exists? %>

        <div class="lasttext col-sm-12">
          <h4 class="craietext">DERNIER COURS</h4>
          <p class="craietext"><%= @video.title.upcase %></p>
        </div>
        <% end %>
      </div>
    </a>

    <a href="/posts/<%= Post.last.id %>">
      <div class= " col-sm-3 col-xs-12">
        <% if Post.exists? %>

         <div class="lasttext col-sm-12">
          <h4 class="craietext">DERNIER LIVRE</h4>
          <p class="craietext"><%= @post.title.upcase %></p>
          <br>
         </div>
         <% end %>
      </div>
    </a>

    <div class= " col-sm-3 col-xs-12">
      <% if Comment.exists? %>
       <div class="lasttext col-sm-12">
        <h4 class="craietext">DERNIER SUJET</h4>
        <p class="craietext">EN CONSTRUCTION...</p>
        <br>
       </div>
       <% end %>
    </div>

    <div class= " col-sm-3 col-xs-12">
      <% if Reponse.exists? %>
      <div class="lasttext col-sm-12">
        <h4 class="craietext">MOYENNE GEN. = <%= @goodreponses.average(:total).round(1) %>/10</h4>
      <% end %>
      <% if signed_in? %>
        <% if @userreponse.exists? %>
        <p class="craietext">TA MOYENNE = <%= @userreponse.average(:total).round(1) %>/10</p>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
  <br>
