<div class="hidden-xs row  text-center" id="homehome">
  <div class= "col-sm-2">

    <% if signed_in? %>
    <a href="/pages/casier">
      <p><%= image_tag @user.avatar.url(:medium), class:"img-responsive center-block" %></p>
    </a>
    <h4 class="craietext" style="color:white"><em><%= @user.username.upcase %><br>
      <% if @user.classroom.present? %>
        <h4>CLASSE <%= @user.classroom.upcase %></h4>
      <% end %>
      <% if @user.score == nil || @user.score == 0  %>
        <span style="color:#bfbfbf"> 0 PTS</span></em></h4>
      <% else %>
      <a href="/pages/halloffame"><%= (@user.score).round %> PTS</span></em></h4></a>
      <% end %>
    <% else %>
    <a href="/pages/faq">
      <img src="<%= asset_path('faq1.png') %>" alt="notice" class="img-responsive center-block" onmouseover="this.src='<%= asset_path('faq2.png') %>'" onmouseout="this.src='<%= asset_path('faq1.png') %>'">
    </a>
    <h5 class="craietext" style="color:white"><em>MANUEL D'UTILISATION</em></h5>
    <% end %>
  </div>

  <div class= "col-sm-8">
    <img src="<%= asset_path('logofull2.png') %>" alt="viens faire tes devoirs" class="img-responsive center-block animated slideInDown"></img>
      <!-- <div class="fb-share" data-width="450" data-show-faces="true" data-layout="button_count" data-share="true"></div>
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="Rejoins l'école du retrogaming" data-via="ViensFTD" data-lang="fr">Tweeter</a>
    <a href="https://twitter.com/ViensFTD" class="twitter-follow-button" data-show-count="false" data-lang="fr">Suivre @ViensFTD</a>
<div class="g-ytsubscribe" data-channelid="UCBvviNTt-zg4vv-UHv2eRFA" data-layout="default" data-count="hidden">S'abonner</div> -->
</div>

  <div class="col-sm-2">
    <br>
    <br>
    <a href="/pages/cooperative">
    <img src="<%= asset_path('cooperative.png') %>" alt="cooperative" class="img-responsive center-block"></a>
    <h5 class="craietext" style="color:white"><em>COOPERATIVE</em></h5>
    <a href='https://www.facebook.com/Viensfairetesdevoirs' target='_blank'><img alt='Facebook' src='<%= asset_path('facebook.png') %>' title='Facebook'/></a> &nbsp;
    <a href='https://www.youtube.com/c/Viensfairetesdevoirs' target='_blank'><img alt='Youtube' src='<%= asset_path('youtube.png') %>' title='Youtube'/></a> &nbsp;
    <a href='http://twitter.com/ViensFTD' target='_blank'><img alt='Twitter' src='<%= asset_path('twitter.png') %>' title='Twitter'/></a>

</div>

</div>

<div class="hidden-sm hidden-lg hidden-md">
<div class= "col-sm-6 text-center">
  <img src="<%= asset_path('logofull2.png') %>" alt="viens faire tes devoirs" class="img-responsive center-block"></img>


</div>

</div>


<div class="hidden-xs">
  <br>
  <br>
  <br>
</div>

  <div class= "row text-center" style="color:white">

    <div class= "col-sm-3 col-xs-12">
      <div class="bouton">
        <p><a href="pages/videos"><img src="<%= asset_path('Bleu2.png') %>" alt="C.D.I" class="bouton" onmouseover="this.src='<%= asset_path('Bleu.png') %>'" onmouseout="this.src='<%= asset_path('Bleu2.png') %>'" class="img-responsive center-block"></a></p>
            <h5 class="craietext margin_left_5">COURS</h5>
      </div>
    </div>

    <div class= "col-sm-3 col-xs-6">
      <div class="bouton">
        <p><a href="/pages/blog"><img src="<%= asset_path('Vert2.png') %>" alt="C.D.I" class="bouton" onmouseover="this.src='<%= asset_path('Vert.png') %>'" onmouseout="this.src='<%= asset_path('Vert2.png') %>'" class="img-responsive center-block"></a></p>
        <h5 class="craietext margin_left_5">C.D.I</h5>
      </div>
    </div>

    <div class= "col-sm-3 col-xs-6">
      <div class="bouton">
        <% if signed_in? %>
          <p><a href="http://discourse.viensfairetesdevoirs.com/login"><img src="<%= asset_path('Jaune2.png') %>" alt="FORUM" class="bouton" onmouseover="this.src='<%= asset_path('Jaunehaut.png') %>'" onmouseout="this.src='<%= asset_path('Jaune2.png') %>'" class="img-responsive center-block"></a></p>
        <% else %>
          <p><a href="http://discourse.viensfairetesdevoirs.com"><img src="<%= asset_path('Jaune2.png') %>" alt="FORUM" class="bouton" onmouseover="this.src='<%= asset_path('Jaunehaut.png') %>'" onmouseout="this.src='<%= asset_path('Jaune2.png') %>'" class="img-responsive center-block"></a></p>
        <% end %>
        <h5 class="craietext margin_left_5">RECRE</h5>
      </div>
    </div>

    <div class= "col-sm-3 col-xs-12">
      <div class="bouton">
        <p><a href="/pages/casier"><img src="<%= asset_path('Rouge2.png') %>" alt="FORUM" class="bouton" onmouseover="this.src='<%= asset_path('Rouge.png') %>'" onmouseout="this.src='<%= asset_path('Rouge2.png') %>'" class="img-responsive center-block"></a></p>
        <h5 class="craietext margin_left_5">CASIER</h5>
      </div>
    </div>

    <% if user_signed_in? %>
      <% if current_user.role == "nanda" && current_user.role =! nil %>

      <a href="/pages/correspondances"><img src="<%= asset_path('nanda.png') %>" class="bouton"></a>
         <h5>Salle cachée</h5>
      <% end %>
    <% end %>

  </div>

  <br>
  <br>
  <br>

  <% if user_signed_in? %>
    <% if current_user.role == "admin" && current_user.role =! nil %>
      <%= link_to "Admin Page", pages_adminpage_path %>
    <% end %>


  <% end %>

  <div class= "text-center" style="color:white" >

    <a href="/videos/<%= @video.id %>">
      <div class= " col-sm-3 col-xs-12">
        <% if Video.exists? %>
        <div class="lasttext lastblue col-sm-12">
          <h4 class="craietext">DERNIER COURS</h4>
          <p class="craietext"><%= @video.title.upcase %> <%= image_tag @console.console_img.url, class:"consoleimg_small" %></p>
          <br>
        </div>
        <% end %>
      </div>
    </a>

    <a href="/posts/<%= Post.last.id %>">
      <div class= " col-sm-3 col-xs-12">
        <% if Post.exists? %>
         <div class="lasttext lastgreen col-sm-12">
          <h4 class="craietext">DERNIER LIVRE</h4>
          <p class="craietext"><%= @post.title.upcase %></p>
          <br>
         </div>
         <% end %>
      </div>
    </a>



    <a href="/pages/halloffame">
    <div class= " col-sm-3 col-xs-12">
      <% if Reponse.exists? %>
      <div class="lasttext lastyellow col-sm-12">
        <h4 class="craietext">TABLEAU DES SCORES</h4>
      <% end %>
      <p>
        <% @topten.each do |eleve| %>
          <%= image_tag eleve.avatar.url(:thumb), class:"topten_avatar2" %>
        <% end %>
      </p>

      <br>
      </div>
    </div>
    </a>

    <div class= " col-sm-3 col-xs-12">
      <% if Comment.exists? %>
       <div class="lasttext lastred col-sm-12">
        <h4 class="craietext">MOY. DE L'ECOLE</h4>
        <p class="craietext"><%= number_with_precision(@goodreponses.average(:total), precision: 2) %>/10</p>
        <br>
       </div>
       <% end %>
    </div>
  </div>

<!--  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  </script>
  <script src="https://apis.google.com/js/platform.js"></script> -->

<script>
  var audio = new Audio('<%= audio_path('starfox_titlescreen.mp3') %>');

  var easter_egg2 = new Konami(function() {
            //bootbox.hideAll();
            audio.play();
            bootbox.dialog({
              className: "home_modal",
              title: "Le Savais-tu ?",
              message: '<div class="text-center">' +
              '<p>Tape "do a barrel roll" (fais un tonneau),<br> la phrase culte de la série Starfox,<br> dans la barre de recherche de Google...<br>Et attends toi à être surpris !</p>' +
              '<img src="https://49.media.tumblr.com/2bd3e8f68a296e64571a37020bf08c68/tumblr_nqvq8on6yS1u0rseao1_540.gif" class="img-responsive center-block"/>' +
              '</div>',
              onEscape: function() {
                audio.pause();
                audio.currentTime = 0;
                //location.reload();
                //bootbox.hideAll();
                //n = 0;
                //return false;
                //setTimeout(function(){
                //  location.reload();
                //}, 500);
                //$( '.home_modal' ).modal( 'hide' ).data( 'bs.modal', null );
              }
            });
            return false;
  });
</script>
