<div class="hidden-xs row  text-center">
  <div class= "col-sm-2">

    <% if signed_in? %>
    <a href="/pages/casier">
      <p><%= image_tag @user.avatar.url(:medium), class:"img-responsive center-block" %></p>
    </a>
    <h4 class="craietext" style="color:white"><em><%= @user.username.upcase %><br>
      <% if @user.score == nil || @user.score == 0  %>
        <span style="color:#bfbfbf"> 0 PTS</span></em></h4>
      <% else %>
      <span style="color:#bfbfbf"><%= number_with_precision(@user.score, precision: 3) %> PTS</span></em></h4>
      <% end %>
    <% else %>
    <a href="/pages/faq">
      <img src="<%= asset_path('faq1.png') %>" alt="notice" class="img-responsive center-block" onmouseover="this.src='<%= asset_path('faq2.png') %>'" onmouseout="this.src='<%= asset_path('faq1.png') %>'">
    </a>
    <h5 class="craietext" style="color:white"><em>MANUEL D'UTILISATION</em></h5>
    <% end %>
  </div>

  <div class= "col-sm-8">
    <img src="<%= asset_path('logofull2.png') %>" alt="viens faire tes devoirs" class="img-responsive center-block">
    <!-- <div class="fb-like" data-href="https://www.facebook.com/Viensfairetesdevoirs" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div>
    <div><a href="https://twitter.com/ViensFTD" class="twitter-follow-button" data-show-count="false" data-lang="fr">Suivre @ViensFTD</a></div>
    <div class="g-ytsubscribe" data-channelid="UCBvviNTt-zg4vv-UHv2eRFA" data-layout="default" data-count="default" data-onytevent="onYtEvent"></div> -->
  </div>

  <div class="col-sm-2">
    <br>
    <br>
    <a href="/pages/cooperative">
    <img src="<%= asset_path('cooperative.png') %>" alt="cooperative" class="img-responsive center-block"></a>
    <h5 class="craietext" style="color:white"><em>COOPERATIVE</em></h5>
    <a href='https://www.facebook.com/Viensfairetesdevoirs' target='_blank'><img alt='Facebook' src='<%= asset_path('facebook.png') %>' title='Facebook'/></a> &nbsp;
    <a href='https://www.youtube.com/c/Viensfairetesdevoirs' target='_blank'><img alt='Youtube' src='<%= asset_path('youtube.png') %>' title='Youtube'/></a> &nbsp;
    <a href='http://twitter.com/ViensFTD' target='_blank'><img alt='Twitter' src='<%= asset_path('twitter.png') %>' title='Twitter'/></a>

  </div>

</div>

<div class="hidden-sm hidden-lg hidden-md">
<div class= "col-sm-6">
  <img src="<%= asset_path('logofull2.png') %>" alt="viens faire tes devoirs" class="img-responsive center-block">
</div>

</div>


<div class="hidden-xs">
  <br>
  <br>
  <br>
</div>

  <div class= "row text-center" style="color:white">

    <div class= "col-sm-3 col-xs-12">
      <div class="bouton">
        <p><a href="pages/videos"><img src="<%= asset_path('Bleu2.png') %>" alt="C.D.I" class="bouton" onmouseover="this.src='<%= asset_path('Bleu.png') %>'" onmouseout="this.src='<%= asset_path('Bleu2.png') %>'"></a></p>
            <h5 class="craietext">COURS</h5>
      </div>
    </div>

    <div class= "col-sm-3 col-xs-6">
      <div class="bouton">
        <p><a href="/pages/blog"><img src="<%= asset_path('Vert2.png') %>" alt="C.D.I" class="bouton" onmouseover="this.src='<%= asset_path('Vert.png') %>'" onmouseout="this.src='<%= asset_path('Vert2.png') %>'"></a></p>
        <h5 class="craietext">C.D.I</h5>
      </div>
    </div>

    <div class= "col-sm-3 col-xs-6">
      <div class="bouton">
        <p><a href="http://discourse.viensfairetesdevoirs.com"><img src="<%= asset_path('Jaune2.png') %>" alt="FORUM" class="bouton" onmouseover="this.src='<%= asset_path('Jaunehaut.png') %>'" onmouseout="this.src='<%= asset_path('Jaune2.png') %>'"></a></p>
        <h5 class="craietext">RECRE</h5>
      </div>
    </div>

    <div class= "col-sm-3 col-xs-12">
      <div class="bouton">
        <p><a href="/pages/casier"><img src="<%= asset_path('Rouge2.png') %>" alt="FORUM" class="bouton" onmouseover="this.src='<%= asset_path('Rouge.png') %>'" onmouseout="this.src='<%= asset_path('Rouge2.png') %>'"></a></p>
        <h5 class="craietext">CASIER</h5>
      </div>
    </div>

    <% if user_signed_in? %>
      <% if current_user.role == "nanda" && current_user.role =! nil %>

      <a href="/pages/correspondances"><img src="<%= asset_path('nanda.png') %>" class="bouton"></a>
         <h5>Salle cachée</h5>
      <% end %>
    <% end %>

  </div>

  <br>
  <br>
  <br>

  <% if user_signed_in? %>
    <% if current_user.role == "admin" && current_user.role =! nil %>
      <%= link_to "Admin Page", pages_adminpage_path %>
    <% end %>


  <% end %>

  <div class= "text-center" style="color:white" >

    <a href="/videos/<%= Video.last.id %>">
      <div class= " col-sm-3 col-xs-12">
        <% if Video.exists? %>

        <div class="lasttext col-sm-12">
          <h4 class="craietext">DERNIER COURS</h4>
          <p class="craietext"><%= @video.title.upcase %></p>
          <br>
        </div>
        <% end %>
      </div>
    </a>

    <a href="/posts/<%= Post.last.id %>">
      <div class= " col-sm-3 col-xs-12">
        <% if Post.exists? %>

         <div class="lasttext col-sm-12">
          <h4 class="craietext">DERNIER LIVRE</h4>
          <p class="craietext"><%= @post.title.upcase %></p>
          <br>
         </div>
         <% end %>
      </div>
    </a>



    <a href="/pages/halloffame">
    <div class= " col-sm-3 col-xs-12">
      <% if Reponse.exists? %>
      <div class="lasttext col-sm-12">
        <h4 class="craietext">SCORES</h4>
      <% end %>
        <p class="craietext">TOP 10</p>
      <br>
      </div>
    </div>
    </a>

    <div class= " col-sm-3 col-xs-12">
      <% if Comment.exists? %>
       <div class="lasttext col-sm-12">
        <h4 class="craietext">MOY. DE L'ECOLE</h4>
        <p class="craietext"><%= number_with_precision(@goodreponses.average(:total), precision: 2) %>/10</p>
        <br>
       </div>
       <% end %>
    </div>




  </div>

  <script>
    //Haut, haut, bas, bas, gauche, droite, gauche, droite, B, A
    var k = [38, 38, 40, 40, 37, 39, 37, 39, 66, 65],
    n = 0;
    var audio = new Audio('<%= audio_path('corneria.mp3') %>');
    //audio.play();

    $(document).keydown(function (e) {
      if (e.keyCode === k[n++]) {
          if (n === k.length) {
              audio.play(); // à remplacer par votre code
              bootbox.dialog({
                className: "home_modal",
                title: "Le Savais-tu ?",
                message: '<div class="text-center">' +
                '<p>Tape "do a barrel roll" (fais un tonneau),<br> la phrase culte de la série Starfox,<br> dans la barre de recherche de Google...<br>Et attends toi à être surpris !<br><br>PS: Pour stopper la musique, rafraichis la page</p>' +
                '</div>'
              });

              n = 0;
              return false;
          }
      }
      else {
          n = 0;
          return false;
      }
    });
  </script>
