<div class= "text-center">
<h1>Home</h1>
</div>

<br>
<br>
<br>
<br>
<br>

  <div class= "row text-center">
    <div class= "col-sm-3 col-xs-12 ">
      <p><a href="pages/videos"><img src= "<%= asset_path('green.png') %>" alt="VIDEOS" class="bouton img-responsive center-block"></a></p>
      <h5>Salle de Classe</h5>
    </div>
    <div class= "col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <p><a href="/pages/blog"><img src="<%= asset_path('green.png') %>" alt="CDI" class="bouton img-responsive center-block"></a></p>
      <h5>Le CDI</h5>
    </div>
    <div class= "col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <p><a href="/pages/dst"><img src="<%= asset_path('green.png') %>" alt="DST" class="bouton img-responsive center-block"></a></p>
      <h5>Salle d'Examens</h5>
    </div>
    <div class= "col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <p><a href="/pages/forum"><img src="<%= asset_path('green.png') %>" alt="FORUM" class="bouton img-responsive center-block"></a></p>
      <h5>Cour de Récré</h5>
    </div>
  </div>


  <br>
  <br>
  <br>
  <br>
  <div class= "row text-center">


    <div class= "col-sm-3 col-xs-12">
      <p><a href="pages/videos"><img src="<%= asset_path( 'borderblue.jpg' ) %>" alt="Last Vidéo" class="img-responsive center-block"></a></p>
      <h5>Last Video</h5>
    </div>
    <div class= "col-sm-3 col-xs-12">
      <p><a href="/posts/<%= Post.last.id %>"><img src="<%= asset_path( 'borderblue.jpg' ) %>" alt="Last Post" class="img-responsive center-block"></a></p>
      <h5>Last Post</h5>
    </div>
    <div class= "col-sm-3 col-xs-12">
      <p><a href="/pages/dst"><img src="<%= asset_path( 'borderblue.jpg' ) %>" alt="Last Note" class="img-responsive center-block"></a></p>
      <h5>Last Note</h5>
    </div>
    <div class= "col-sm-3 col-xs-12">
      <p><a href="/pages/forum"><img src="<%= asset_path( 'borderblue.jpg' ) %>" alt="Last Topic" class="img-responsive center-block"></a></p>
      <h5>Last Message</h5>
    </div>

</div>

  <% if user_signed_in? %>
    <% if current_user.role == "admin" && current_user.role =! nil %>
      <%= link_to "Admin Page", pages_adminpage_path %>
    <% end %>
  <% end %>
