<div class="hidden-xs row text-center">
  <div class= "col-sm-2">
  <p>Manuel d'utilisation<p>
    <h5><em>en construction</em></h5>
  </div>
  <div class= "col-sm-8">
    <img src="<%= asset_path('logofull.png') %>" alt="viens faire tes devoirs" class="img-responsive center-block"><img>
  </div>
  <div class="col-sm-2">
    <p>Coopérative de l'école</p>
    <h5><em>en construction</em></h5>
  </div>
</div>

<div class="hidden-sm hidden-lg hidden-md">
<div class= "col-sm-6">
  <img src="<%= asset_path('logofull.png') %>" alt="viens faire tes devoirs" class="img-responsive center-block"><img>
</div>
</div>

  <div class= "row text-center">

    <div class= "col-sm-3 col-xs-12">
      <div class="bouton">
        <p><a href="pages/videos"><img src="<%= asset_path('Bleu.png') %>" alt="CDI" class="bouton" onmouseover="this.src='<%= asset_path('Bleu2.png') %>'" onmouseout="this.src='<%= asset_path('Bleu.png') %>'"></a></p>
        <h5>Cours</h5>
      </div>
    </div>

    <div class= "col-sm-3 col-xs-6">
      <div class="bouton">
        <p><a href="/pages/blog"><img src="<%= asset_path('Vert.png') %>" alt="CDI" class="bouton" onmouseover="this.src='<%= asset_path('Vert2.png') %>'" onmouseout="this.src='<%= asset_path('Vert.png') %>'"></a></p>
        <h5>CDI</h5>
      </div>
    </div>

    <div class= "col-sm-3 col-xs-6">
      <div class="bouton">
        <p><a href="/pages/forum"><img src="<%= asset_path('Jaunehaut.png') %>" alt="FORUM" class="bouton" onmouseover="this.src='<%= asset_path('Jaune2.png') %>'" onmouseout="this.src='<%= asset_path('Jaunehaut.png') %>'"></a></p>
        <h5>Récré</h5>
      </div>
    </div>

    <div class= "col-sm-3 col-xs-12">
      <div class="bouton">
        <p><a href=""><img src="<%= asset_path('Rouge.png') %>" alt="FORUM" class="bouton" onmouseover="this.src='<%= asset_path('Rouge2.png') %>'" onmouseout="this.src='<%= asset_path('Rouge.png') %>'"></a></p>
        <h5>Mon Casier</h5>
      </div>
    </div>

    <% if user_signed_in? %>
      <% if current_user.role == "nanda" && current_user.role =! nil %>

      <a href="/pages/correspondances"><img src="<%= asset_path('nanda.png') %>" class="bouton"></a>
         <h5>Salle cachée</h5>
      <% end %>
    <% end %>

  </div>


  <br>
  <br>
  <% if user_signed_in? %>
    <% if current_user.role == "admin" && current_user.role =! nil %>
      <%= link_to "Admin Page", pages_adminpage_path %>
    <% end %>


  <% end %>

  <br>
  <br>
  <br>


  <div class= "lastban hidden-xs">

    <a href="/videos/<%= Video.last.id %>">
      <div class= "lastblue col-sm-3">
        <% if Video.exists? %>
        <div class="col-sm-5 img-responsive center-block">
          <br>
          <p><%= image_tag @video.video_img.url(:medium), class:"  img-responsive" %></p>
        <% end %>
        </div>
        <div class="lasttext col-sm-7">
          <h4>Dernier cours</h4>
          <p><%= @video.title %></p>
        </div>
      </div>
    </a>

    <a href="/posts/<%= Post.last.id %>">
      <div class= "lastgreen col-sm-3">
        <% if Post.exists? %>
          <div class="lastimage col-sm-5">
            <br>
          <p><%= image_tag @post.post_img.url(:post_index), class:"img-responsive" %></p>
        <% end %>
         </div>
         <div class="lasttext col-sm-7">
          <h4>Dernier article</h4>
          <p><%= @post.title %></p>
          <br>
         </div>
      </div>
    </a>

    <div class= "lastyellow col-sm-3">
      <% if Comment.exists? %>
       <div class="lasttext col-sm-12">
        <h4>Dernier sujet</h4>
        <p>En construction...</p>
        <br>
       </div>
       <% end %>
    </div>

    <div class= "lastred col-sm-3">
      <% if Reponse.exists? %>
      <div class="lasttext col-sm-12">
        <h4>Moyenne de l'école</h4>
        <p><%= @goodreponses.average(:total).round(2) %> / 10</p>
      <% end %>
      <% if signed_in? %>
        <% if @userreponse.exists? %>
        <h4>Ta moyenne</h4>
        <p><%= @userreponse.average(:total).round(1) %> / 10</p>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
