
<div class="text-center">
  <h3><em>Choisis une matière</em></h3>
</div>
  <br>
  <br>



  <div class="row text-center">
    <div class="col-xs-4 col-sm-2">

        <h5>Nes</h5>
        <div class="doors">
        <p><a href="/consoles/1"><img src="<%= asset_path('nesicon.png') %>" alt="NES" class="doors" ></a></p>
        <br>
      </div>
    </div>

    <div class="col-xs-4 col-sm-2">
      <div class="doors">
        <h5>Game Boy</h5>
        <p><a href="/consoles/2"><img src="<%= asset_path('GBicon.jpg') %>" alt="Game Boy" class="doors"></a></p>
        <br>
      </div>
    </div>

    <div class="col-xs-4 col-sm-2">
      <div class="doors">
        <h5>Super Nintendo</h5>
        <p><a href="/consoles/3"><img src="<%= asset_path('snesicon.jpg') %>" alt="Super Nintendo" class="doors"></a></p>
        <br>
      </div>
    </div>

    <div class="col-xs-4 col-sm-2">
      <div class="doors">
        <h5>Nintendo 64</h5>
        <p><a href="/consoles/4"><img src="<%= asset_path('N64icon.jpg') %>" alt="Nintendo 64" class="doors"></a></p>
        <br>
      </div>
    </div>

    <div class="col-xs-4 col-sm-2">
      <div class="doors">
        <h5>Game Boy Advance</h5>
        <p><a href="/consoles/5"><img src="<%= asset_path('gbaicon.jpg') %>" alt="Game Boy Advance" class="doors"></a></p>
        <br>
      </div>
    </div>

    <div class="col-xs-4 col-sm-2">
      <div class="doors">
        <h5>GameCube</h5>
        <p><a href="/consoles/6"><img src="<%= asset_path('GCicon.png') %>" alt="Game Cube" class="doors"></a></p>
        <br>
      </div>
    </div>

</div>
