<div class="row text-center">

  <h3><em>Choisis une salle</em></h3>
  <br>
  <br>
  <br>
  <br>

  <!-- <iframe width="640" height="360" src="https://www.youtube.com/embed/GIqph0mWo0w" frameborder="0" allowfullscreen></iframe> -->
    <div class="col-xs-4 col-sm-2">
      <h5>Level 1</h5>
      <p><a href="/consoles/1"><img src="<%= asset_path('door.png') %>" alt="NES" class="console img-responsive center-block"></a></p>
      <br>
    </div>

    <div class="col-xs-4 col-sm-2">
      <h5>Level 2</h5>
      <p><a href="/consoles/2"><img src="<%= asset_path('door.png') %>" alt="Game Boy" class="console img-responsive center-block"></a></p>
      <br>
    </div>

    <div class="col-xs-4 col-sm-2">
      <h5>Level 3</h5>
      <p><a href="/consoles/3"><img src="<%= asset_path('door.png') %>" alt="Super Nintendo" class="console img-responsive center-block"></a></p>
      <br>
    </div>

    <div class="col-xs-4 col-sm-2">
      <h5>Level 4</h5>
      <p><a href="/consoles/4"><img src="<%= asset_path('door.png') %>" alt="Nintendo 64" class="console img-responsive center-block"></a></p>
      <br>
    </div>

    <div class="col-xs-4 col-sm-2">
      <h5>Level 5</h5>
      <p><a href="/consoles/5"><img src="<%= asset_path('door.png') %>" alt="Game Boy Advance" class="console img-responsive center-block"></a></p>
      <br>
    </div>

    <div class="col-xs-4 col-sm-2">
      <h5>Level 6</h5>
      <p><a href="/consoles/6"><img src="<%= asset_path('door.png') %>" alt="Game Cube" class="console img-responsive center-block"></a></p>
      <br>
    </div>

</div>
