
<div class="text-center">
  <h2 style="color:white" class="craietext"><em>CHOISIS UNE MATIERE</em></h2>
</div>
  <br>
  <br>

<div class="hidden-xs hidden-sm hidden-md">
  <br>
  <br>
  <br>
  <br>
</div>

  <div class="row text-center">

    <div class="col-xs-6 col-sm-4">
      <div class="doors">

        <p><a href="/consoles/1"><img src="<%= asset_path('nesicon.gif') %>" alt="NES" class="doors" onmouseover="this.src='<%= asset_path('nesicon2.gif') %>'" onmouseout="this.src='<%= asset_path('nesicon.gif') %>'"></a></p>
        <br>
      </div>
    </div>

    <div class="col-xs-6 col-sm-4">
      <div class="doors">

        <p><a href="/consoles/2"><img src="<%= asset_path('GBicon.gif') %>" alt="Game Boy" class="doors" onmouseover="this.src='<%= asset_path('GBicon2.gif') %>'" onmouseout="this.src='<%= asset_path('GBicon.gif') %>'"></a></p>
        <br>
      </div>
    </div>

    <div class="col-xs-6 col-sm-4">
      <div class="doors">

        <p><a href="/consoles/3"><img src="<%= asset_path('snesicon.gif') %>" alt="Super Nintendo" class="doors" onmouseover="this.src='<%= asset_path('snesicon2.gif') %>'" onmouseout="this.src='<%= asset_path('snesicon.gif') %>'"></a></p>

      </div>
    </div>

    <div class="col-xs-6 col-sm-4">
      <div class="doors">

        <p><a href="/consoles/4"><img src="<%= asset_path('N64icon.gif') %>" alt="Nintendo 64" class="doors" onmouseover="this.src='<%= asset_path('N64icon2.gif') %>'" onmouseout="this.src='<%= asset_path('N64icon.gif') %>'"></a></p>
        <br>
      </div>
    </div>

    <div class="col-xs-6 col-sm-4">
      <div class="doors">

        <p><a href="/consoles/5"><img src="<%= asset_path('gbaicon.gif') %>" alt="Game Boy Advance" class="doors" onmouseover="this.src='<%= asset_path('gbaicon2.gif') %>'" onmouseout="this.src='<%= asset_path('gbaicon.gif') %>'"></a></p>
        <br>
      </div>
    </div>

    <div class="col-xs-6 col-sm-4">
      <div class="doors">

        <p><a href="/consoles/6"><img src="<%= asset_path('GCicon.gif') %>" alt="Game Cube" class="doors" onmouseover="this.src='<%= asset_path('GCicon2.gif') %>'" onmouseout="this.src='<%= asset_path('GCicon.gif') %>'"></a></p>
        <br>
      </div>
    </div>

</div>
<br>
<br>
