
<div class="text-center">
  <h3><em>Choisis une salle</em></h3>
</div>
  <br>
  <br>



  <div class="row text-center">
    <div class="col-xs-4 col-sm-2">

        <h5>Niveau 1</h5>
        <div class="doors">
        <p><a href="/consoles/1"><img src="<%= asset_path('door.png') %>" alt="NES" class="doors" ></a></p>
        <br>
      </div>
    </div>

    <div class="col-xs-4 col-sm-2">
      <div class="doors">
        <h5>Niveau 2</h5>
        <p><a href="/consoles/2"><img src="<%= asset_path('door.png') %>" alt="Game Boy" class="doors"></a></p>
        <br>
      </div>
    </div>

    <div class="col-xs-4 col-sm-2">
      <div class="doors">
        <h5>Niveau 3</h5>
        <p><a href="/consoles/3"><img src="<%= asset_path('door.png') %>" alt="Super Nintendo" class="doors"></a></p>
        <br>
      </div>
    </div>

    <div class="col-xs-4 col-sm-2">
      <div class="doors">
        <h5>Niveau 4</h5>
        <p><a href="/consoles/4"><img src="<%= asset_path('door.png') %>" alt="Nintendo 64" class="doors"></a></p>
        <br>
      </div>
    </div>

    <div class="col-xs-4 col-sm-2">
      <div class="doors">
        <h5>Niveau 5</h5>
        <p><a href="/consoles/5"><img src="<%= asset_path('door.png') %>" alt="Game Boy Advance" class="doors"></a></p>
        <br>
      </div>
    </div>

    <div class="col-xs-4 col-sm-2">
      <div class="doors">
        <h5>Niveau 6</h5>
        <p><a href="/consoles/6"><img src="<%= asset_path('door.png') %>" alt="Game Cube" class="doors"></a></p>
        <br>
      </div>
    </div>

</div>
