
<div class="text-center">
  <h3 style="color:white"><em>Choisis une matière</em></h3>
</div>
  <br>
  <br>



  <div class="row text-center">

    <div class="col-xs-6 col-sm-4">
      <div class="doors">

        <p><a href="/consoles/1"><img src="<%= asset_path('nesicon.gif') %>" alt="NES" class="doors" ></a></p>
        <br>
      </div>
    </div>

    <div class="col-xs-6 col-sm-4">
      <div class="doors">

        <p><a href="/consoles/2"><img src="<%= asset_path('GBicon.gif') %>" alt="Game Boy" class="doors"></a></p>
        <br>
      </div>
    </div>

    <div class="col-xs-6 col-sm-4">
      <div class="doors">

        <p><a href="/consoles/3"><img src="<%= asset_path('snesicon.gif') %>" alt="Super Nintendo" class="doors"></a></p>

      </div>
    </div>

    <div class="col-xs-6 col-sm-4">
      <div class="doors">

        <p><a href="/consoles/4"><img src="<%= asset_path('N64icon.gif') %>" alt="Nintendo 64" class="doors"></a></p>
        <br>
      </div>
    </div>

    <div class="col-xs-6 col-sm-4">
      <div class="doors">

        <p><a href="/consoles/5"><img src="<%= asset_path('gbaicon.gif') %>" alt="Game Boy Advance" class="doors"></a></p>
        <br>
      </div>
    </div>

    <div class="col-xs-6 col-sm-4">
      <div class="doors">

        <p><a href="/consoles/6"><img src="<%= asset_path('GCicon.gif') %>" alt="Game Cube" class="doors"></a></p>
        <br>
      </div>
    </div>

</div>
