<h1>Modifier l'Article</h1>

<%= simple_form_for @post, :html => { :multipart => true } do |f| %>
  <%= f.input :title %>
  <%= f.input :content, as: :text, input_html: {maxlength: 99999999, rows: 15} %>
  <%= f.input :author %>
  <%= f.file_field :post_img %>
  <%= f.select :category_id, @categories %>
  <%= f.button :submit %>
<% end %>
