<div class="text-center" style="color:white" class="craietext">
  <h2 class="craietext"><em>CENTRE DE DOCUMENTATION ET D'INFORMATION</em></h2>
  <h4 class="craietext">CATEGORIES : <%= link_to "Toutes -".upcase, posts_path, class: "craietext" %>
  <%  @categories.each do |category| %>
    <%= link_to category.name.upcase, posts_path(category: category.name), class: "link" %>
    <tr> - <tr>
  <% end %>
  </h4>
<br>
<br>
<br>
<br>

  <div class="row text-center">
    <% if @posts.count == 0 %>
      <h3 class="craietext">IL N'Y A PAS ENCORE DE LIVRE DANS CETTE CATEGORIE</h3>
    <% else %>
      <% @posts.each do |post| %>
        <div class="col-lg-2 col-md-2  col-sm-4  col-xs-4 ">
          <a href="/posts/<%= post.id %>">
            <p><%= image_tag post.post_img.url(:post_index), class:"img-responsive" %><p>
            <h5><%= post.title %></h5>
          </a>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="text-center" >

    <%= paginate @posts %>

  </div>
</div>

<% if user_signed_in? %>
  <% if current_user.role == "admin" && current_user.role =! nil %>
    <%= link_to "Créér un article", new_post_path %>
  <% end %>
<% end %>

<br>
<br>
