<% content_for :google do%>
  <meta name="description" content="Le C.D.I" />
  <meta name="keywords" content="ecole retrogaming mario zelda nintendo cdi" />
  <meta name="copyright" content="Sylvain Kraisin" />
  <meta name="application-name" content="ViensFaireTesDevoirs" />
  <title>Le C.D.I - ViensFaireTesDevoirs</title>
<% end %>

<div class="text-center craietext" style="color:white">
  <h2 class="craietext"><em>CENTRE DE DOCUMENTATION ET D'INFORMATION</em></h2>
  <h4 class="craietext">CATEGORIES : <%= link_to "Toutes".upcase, posts_path, class: "craietext" %>
  <%  @categories.each do |category| %>
     -
    <%= link_to category.name.upcase, posts_path(category: category.name), class: "link" %>

  <% end %>
  </h4>
<br>
<br>
<br>
<br>


    <% if @posts.count == 0 %>
    <div class="row text-center">
      <h3 class="craietext">IL N'Y A PAS ENCORE DE LIVRE DANS CETTE CATEGORIE</h3>
    </div>
    <% else %>
      <% @posts.each do |post| %>
        <div class="col-sm-2  col-xs-12 ">
          <a href="/posts/<%= post.id %>">
            <p><%= image_tag post.post_img.url(:post_index), class:"img-responsive center-block mudora_index" %></p>
          </a>
            <span class="hidden-sm hidden-lg hidden-md">
              <h5 style="color:white" class="craietext"><%= post.title.upcase %><br>---</h5>
            </span>
            <span class="hidden-xs ">
              <h5 style="color:white" class="craietext"><%= truncate(post.title.upcase, length: 30) %></h5>
            </span>

        </div>
      <% end %>
    <% end %>


  <div class="text-center" >

    <%= paginate @posts %>

  </div>
</div>

<div class="col-xs-12 text-center">
<br>
<p class="craietext" style="color:#ffffff">VOUS VOULEZ AJOUTER VOTRE ARTICLE ?<br> ENVOYER LE A VIENSFAIRETESDEVOIRS@GMAIL.COM</p>
<% if user_signed_in? %>
  <% if current_user.role == "admin" || current_user.role == 'bibliothequaire'  %>
    <%= link_to "Créér un article", new_post_path %>
  <% end %>
<% end %>
<br>
<br>
</div>
