<div class="text-center" style="color:white">
  <h1>Centre de Documentation et d’Information (CDI)</h1>
  <strong>Matières : <%= link_to "Toutes -", posts_path %>
  <%  @categories.each do |category| %>
    <strong><%= link_to category.name, posts_path(category: category.name), class: "link" %></strong>
    <tr> - <tr>
  <% end %>

<br>
<br>
<br>
<br>

  <div class="row text-center">
    <% if @posts.count == 0 %>
      <h1>Il n'y a pas encore de livres dans cette catégorie</h1>
    <% else %>
      <% @posts.each do |post| %>
        <div class="col-lg-2 col-md-2  col-sm-4  col-xs-4 ">
          <a href="/posts/<%= post.id %>">
            <p><%= image_tag post.post_img.url(:post_index), class:"img-responsive" %><p>
            <h5><%= post.title %></h5>
          </a>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="text-center" >

    <%= paginate @posts %>

  </div>
</div>

<% if user_signed_in? %>
  <% if current_user.role == "admin" && current_user.role =! nil %>
    <%= link_to "Créér un article", new_post_path %>
  <% end %>
<% end %>
