<% content_for :google do%>
  <meta name="description" content="Le C.D.I" />
  <meta name="keywords" content="ecole retrogaming mario zelda nintendo cdi" />
  <meta name="author" content="<%= @post.author %>" />
  <meta name="copyright" content="Sylvain Kraisin" />
  <meta name="application-name" content="ViensFaireTesDevoirs" />
  <title><%= @post.title %> - Viens Faire Tes Devoirs</title>
<% end %>


<% content_for :facebook do %>
  <meta property="og:title" content="<%= @post.title %>" />
  <meta property="og:type" content="article" />
  <meta property="og:image" content="http://viensfairetesdevoirs.com/<%= @post.post_img.url(:post_index) %>" />
  <meta property="og:description" content="<%= @post.category.name.upcase %> | Un livre disponible au C.D.I" />
<% end %>


<div class ="row">
  <div class= "article col-md-9 col-xs-12">
    <article>
      <br>
      <h2 class="posttitle text-center"><%= @post.title %></h2>
      <br>
      <div class="texte text-justify">
      <p><%= @post.content.html_safe %></p>
      <!-- <p><%= @post.content.length %></p> -->


      <br>
      <h5 class="text-center"><em>écrit par <%= @post.author %> le <%= l(@post.created_at, format: "%e %B %Y" ) %></em></h5>

      </div>
    </article>


    <% if user_signed_in? %>
      <div class="text-center">
        <% if current_user.is_admin? %>
          <p><%= link_to "Modifier", edit_post_path(@post), class:'btn btn-default' %></p>
          <p><%= link_to "Supprimer", post_path(@post), method: :delete, data: { confirm: "Confirmez vous la suppression de cet article ?"}, class:'btn btn-default' %></p>
        <% end %>
        <% if @post.user_id == current_user.id || current_user.is_admin?  %>
          <% if @post.draft? && !current_user.is_admin? %>
            <p><%= link_to "Modifier", edit_post_path(@post), class:'btn btn-default' %></p>
            <p><%= button_to 'Soumettre mon article', {controller: :posts, action: 'submit_accept_or_refuse', id: @post.id, choice:"submit" }, :method => :post, class:'btn btn-default'  %></p>
          <% elsif @post.pending? && current_user.is_admin? %>
            <p><%= button_to "Refuser l'article", {controller: :posts, action: 'submit_accept_or_refuse', id: @post.id, choice:"refuse" }, :method => :post, class:'btn btn-default'  %></p>
            <p><%= button_to "Publier l'article", {controller: :posts, action: 'submit_accept_or_refuse', id: @post.id, choice:"accept" }, :method => :post, class:'btn btn-default'  %></p>
          <% elsif @post.pending? %>
            <h4><strong>Ton livre est en attente de validation, toi seul peux le voir. Tu recevras un mail dès que Papako l'aura lu</strong></h4>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>


  <div class= "pagedroite col-md-3 col-xs-12 text-center">
    <br>
    <div class="fichecdi">
      <br>
      <h4>Fiche C.D.I</h4>
      <% if @visit.count == 2 %>
            <br>
            <p>Emprunté le  <%= l(@visit.offset(1).last.updated_at, format: "%d %b %y") %></p>
            <p>par  <%= @visit.offset(1).last.user_username %></p>
            <p>Emprunté le  __________</p>
            <p>par  __________</p>
            <p>Emprunté le  __________</p>
            <p>par  __________</p>
            <br>
      <% elsif @visit.count == 3 %>
            <br>
            <p>Emprunté le  <%= l(@visit.offset(1).last.updated_at, format: "%d %b %y") %></p>
            <p>par  <%= @visit.offset(1).last.user_username %></p>
            <p>Emprunté le  <%= l(@visit.offset(2).last.updated_at, format: "%d %b %y") %></p>
            <p>par  <%= @visit.offset(2).last.user_username %></p>
            <p>Emprunté le  __________</p>
            <p>par  __________</p>
            <br>
      <% elsif @visit.count >= 4 %>
            <br>
            <p>Emprunté le  <%= l(@visit.offset(1).last.updated_at, format: "%d %b %y") %></p>
            <p>par  <%= @visit.offset(1).last.user_username %></p>
            <p>Emprunté le  <%= l(@visit.offset(2).last.updated_at, format: "%d %b %y") %></p>
            <p>par  <%= @visit.offset(2).last.user_username %></p>
            <p>Emprunté le  <%= l(@visit.offset(3).last.updated_at, format: "%d %b %y") %></p>
            <p>par  <%= @visit.offset(3).last.user_username %></p>
            <br>
      <% else  %>
        <br>
        <p>Emprunté le  __________ </p>
        <p>par  __________</p>
        <p>Emprunté le  __________</p>
        <p>par  __________</p>
        <p>Emprunté le  __________</p>
        <p>par  __________</p>
        <br>
      <% end %>
    </div>
    <br>
    <div id="annotations" class="annotations text-justify">

      <a href="https://www.facebook.com/sharer/sharer.php?u=http://viensfairetesdevoirs.com/posts/<%= @post.id %>" target="_blank">
        <button class="btn btn-primary">
          <i class="fa fa-facebook"></i> Partager
        </button>
      </a>
      <a href="https://twitter.com/intent/tweet?text=<%= "J'ai lu '" + @post.title + "' au C.D.I" %>&url=http://viensfairetesdevoirs.com/posts/<%= @post.id %>&via=ViensFTD" target="blank" class="decoration_none">
        <button class="btn btn-info">
          <i class="fa fa-twitter"></i> Twitter
        </button>
      </a>

      <p><%= render @post.comments.order('created_at ASC' ) %><p>
      <p><%= link_to "Annoter le livre", new_post_comment_path(@post), class: "btn btn-default", role: "button" %></p>

    </div>
  </div>
</div>

<p><a class="btn btn-default" href="/posts" role="button">Retour</a></p>
