  <div class ="row">
    <div class= "article col-sm-9 col-xs-12 text-center">
      <article>
        <br>
        <h2 class="posttitle"><%= @post.title %></h2>
        <br>
        <div class="texte text-justify">
        <p><%=raw markdownadmin.render @post.content %></p>
        <!-- <p><%= @post.content.length %></p> -->


        <br>
        <h5 class="text-center"><em>écrit par <%= @post.author %> le <%= l(@post.created_at, format: "%e %B %Y" ) %></em></h5>

        </div>
      </article>


      <% if user_signed_in? %>
        <% if current_user.role == "admin" || current_user.role == 'bibliothequaire' %>
          <%= link_to "Modifier", edit_post_path(@post) %>
          <%= link_to "Supprimer", post_path(@post), method: :delete, data: { confirm: "Confirmez vous la suppresion de cet article ?"} %>
        <% end %>
      <% end %>
    </div>


    <div class= "pagedroite col-sm-3 col-xs-12 text-center">
      <br>
      <div class="fichecdi">
        <br>
        <h4>Fiche C.D.I</h4>
        <% if @visit.count == 2 %>
              <br>
              <p>Emprunté le  <%= l(@visit.offset(1).last.updated_at, format: "%d %b %y") %></p>
              <p>par  <%= @visit.offset(1).last.user_username %></p>
              <p>Emprunté le  __________</p>
              <p>par  __________</p>
              <p>Emprunté le  __________</p>
              <p>par  __________</p>
              <br>
        <% elsif @visit.count == 3 %>
              <br>
              <p>Emprunté le  <%= l(@visit.offset(1).last.updated_at, format: "%d %b %y") %></p>
              <p>par  <%= @visit.offset(1).last.user_username %></p>
              <p>Emprunté le  <%= l(@visit.offset(2).last.updated_at, format: "%d %b %y") %></p>
              <p>par  <%= @visit.offset(2).last.user_username %></p>
              <p>Emprunté le  __________</p>
              <p>par  __________</p>
              <br>
        <% elsif @visit.count >= 4 %>
              <br>
              <p>Emprunté le  <%= l(@visit.offset(1).last.updated_at, format: "%d %b %y") %></p>
              <p>par  <%= @visit.offset(1).last.user_username %></p>
              <p>Emprunté le  <%= l(@visit.offset(2).last.updated_at, format: "%d %b %y") %></p>
              <p>par  <%= @visit.offset(2).last.user_username %></p>
              <p>Emprunté le  <%= l(@visit.offset(3).last.updated_at, format: "%d %b %y") %></p>
              <p>par  <%= @visit.offset(3).last.user_username %></p>
              <br>
        <% else  %>
          <br>
          <p>Emprunté le  __________ </p>
          <p>par  __________</p>
          <p>Emprunté le  __________</p>
          <p>par  __________</p>
          <p>Emprunté le  __________</p>
          <p>par  __________</p>
          <br>
        <% end %>
      </div>
      <br>
      <div id="annotations" class="annotations text-justify">

        <p><%= render @post.comments %><p>
        <p><%= link_to "Annoter le livre", new_post_comment_path(@post), class: "btn btn-default", role: "button" %></p>

      </div>
    </div>
  </div>

  <p><a class="btn btn-default" href="/posts" role="button">Retour</a></p>
