  <div class ="row">
    <div class= "col-sm-9 col-xs-12 text-center">
      <article>
        <h2><%= @post.title %></h2>
        <br>
        <div class="text-justify">
        <p><%=raw markdownadmin.render @post.content %></p>
        </div>
        <h4>écrit par <%= @post.author %> le <%= @post.created_at.strftime("%e %B %Y") %></h4>
      </article>
    </div>

    <div class= "col-sm-3 col-xs-12 text-center">
      <div>
        <h3>Fiche CDI</h3>
        <% if @visit.count == 2 %>
              <p>Emprunté le  <%= @visit.offset(1).last.updated_at.strftime("%d %b %y") %></p>
              <p>par  <%= @visit.offset(1).last.user_username %></p>
              <p>Emprunté le  __________</p>
              <p>par  __________</p>
              <p>Emprunté le  __________</p>
              <p>par  __________</p>
        <% elsif @visit.count == 3 %>
              <p>Emprunté le  <%= @visit.offset(1).last.updated_at.strftime("%d %b %y") %></p>
              <p>par  <%= @visit.offset(1).last.user_username %></p>
              <p>Emprunté le  <%= @visit.offset(2).last.updated_at.strftime("%d %b %y") %></p>
              <p>par  <%= @visit.offset(2).last.user_username %></p>
              <p>Emprunté le  __________</p>
              <p>par  __________</p>
        <% elsif @visit.count >= 4 %>
              <p>Emprunté le  <%= @visit.offset(1).last.updated_at.strftime("%d %b %y") %></p>
              <p>par  <%= @visit.offset(1).last.user_username %></p>
              <p>Emprunté le  <%= @visit.offset(2).last.updated_at.strftime("%d %b %y") %></p>
              <p>par  <%= @visit.offset(2).last.user_username %></p>
              <p>Emprunté le  <%= @visit.offset(3).last.updated_at.strftime("%d %b %y") %></p>
              <p>par  <%= @visit.offset(3).last.user_username %></p>
        <% else  %>
          <p>Emprunté le  __________ </p>
          <p>par  __________</p>
          <p>Emprunté le  __________</p>
          <p>par  __________</p>
          <p>Emprunté le  __________</p>
          <p>par  __________</p>
        <% end %>
      </div>
      <div id="annotations" class='text-justify '>
          <br>
          <br>
          <p><%= render @post.comments %><p>
      </div>
      <div class='text-center'>
          <p><%= link_to "Ecrire un commentaire", new_post_comment_path(@post) %></p>
      </div>
    </div>

  </div>

  <br>



  <p><%= link_to "Retour", posts_path %></p>

<br>

<% if user_signed_in? %>
  <% if current_user.role == "admin" %>
    <%= link_to "Modifier", edit_post_path(@post) %>
    <%= link_to "Supprimer", post_path(@post), method: :delete, data: { confirm: "Confirmez vous la suppresion de cet article ?"} %>
  <% end %>
<% end %>
