<div class="container">

  <div class ="row">
    <div class= "col-lg-9 col-md-9 col-sm-9 col-xs-12 text-justify">
      <h2><%= @post.title %></h2>
      <p><%=raw @post.content %></p>
      <h4><%= @post.author %></h4>
      <h4><%= @post.category.name %></h4>
    </div>

    <div class= "col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">
      <div>
        <h2>Fiche CDI</h2>
          <p>Last User1 : xxx</p>
          <p>timestamp : xxx</p>
          <p>Last User2 : xxx</p>
          <p>timestamp : xxx</p>
          <p>Last User3 : xxx</p>
          <p>timestamp : xxx</p>


      </div>
    </div>

  </div>


  <%= link_to "Retour", posts_path %>

</div>



<br>

<% if user_signed_in? %>
  <% if current_user.role == "admin" %>
    <%= link_to "Modifier", edit_post_path(@post) %>
    <%= link_to "Supprimer", post_path(@post), method: :delete, data: { confirm: "Confirmez vous la suppresion de cet article ?"} %>
  <% end %>
<% end %>
