  <div class ="row">
    <div class= "col-lg-9 col-md-9 col-sm-9 col-xs-12 text-justify">
      <h2><%= @post.title %></h2>
      <p><%= @post.content %></p>
      <h4><%= @post.author %></h4>
      <h4><%= @post.category.name %></h4>
    </div>

    <div class= "col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">
      <div>
        <h2>Fiche CDI</h2>
        <% if @visit.count == 2 %>
              <p>Emprunté le : <%= @visit.offset(1).last.updated_at.strftime("%d %b %y") %></p>
              <p>par : <%= @visit.offset(1).last.user_username %></p>
              <p>Emprunté le : __________</p>
              <p>par : __________</p>
              <p>Emprunté le : __________</p>
              <p>par : __________</p>
        <% elsif @visit.count == 3 %>
              <p>Emprunté le : <%= @visit.offset(1).last.updated_at.strftime("%d %b %y") %></p>
              <p>par : <%= @visit.offset(1).last.user_username %></p>
              <p>Emprunté le : <%= @visit.offset(2).last.updated_at.strftime("%d %b %y") %></p>
              <p>par : <%= @visit.offset(2).last.user_username %></p>
              <p>Emprunté le : __________</p>
              <p>par : __________</p>
        <% elsif @visit.count >= 4 %>
              <p>Emprunté le : <%= @visit.offset(1).last.updated_at.strftime("%d %b %y") %></p>
              <p>par : <%= @visit.offset(1).last.user_username %></p>
              <p>Emprunté le : <%= @visit.offset(2).last.updated_at.strftime("%d %b %y") %></p>
              <p>par : <%= @visit.offset(2).last.user_username %></p>
              <p>Emprunté le : <%= @visit.offset(3).last.updated_at.strftime("%d %b %y") %></p>
              <p>par : <%= @visit.offset(3).last.user_username %></p>
        <% else  %>
          <p>Emprunté le : __________ </p>
          <p>par : __________</p>
          <p>Emprunté le : __________</p>
          <p>par : __________</p>
          <p>Emprunté le : __________</p>
          <p>par : __________</p>
        <% end %>
      </div>
    </div>
  </div>


  <%= link_to "Retour", posts_path %>

<br>

<% if user_signed_in? %>
  <% if current_user.role == "admin" %>
    <%= link_to "Modifier", edit_post_path(@post) %>
    <%= link_to "Supprimer", post_path(@post), method: :delete, data: { confirm: "Confirmez vous la suppresion de cet article ?"} %>
  <% end %>
<% end %>
