<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- for Google -->
  <meta name="description" content="Viens Faire Tes Devoirs">
  <meta name="keywords" content="" />

  <meta name="author" content="Sylvain Kraisin">
  <meta name="copyright" content="VFTD" />
  <meta name="application-name" content="" />

  <!-- for Facebook -->
  <!-- <meta property="og:title" content="" />
  <meta property="og:type" content="article" /> -->
  <meta property="og:image" content="<%= asset_path('mudorapost.png') %>" />
  <!-- <meta property="og:url" content="" />
  <meta property="og:description" content="" /> -->

  <!-- for Twitter
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="" />
  <meta name="twitter:description" content="" /> -->
  <meta name="twitter:image" content="<%= asset_path('mudorapost.png') %>" />

    <link rel="icon" href="<%= asset_path('mudorapost.png') %>">
    <title>ViensFaireTesDevoirs</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>
  
<body class="<%= controller.controller_name %>">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to t('accueil').upcase, root_path, class: "navbar-brand craietext", style: "color: white", onmouseover: "this.style.color='#3399ff'", onmouseout: "this.style.color='white'" %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">

          <% if user_signed_in? %>
            <li class="text-center"><%= link_to t('deconnexion').upcase, destroy_user_session_path, method: :delete, style: "color: white", class: "craietext", onmouseover: "this.style.color='#ff471a'", onmouseout: "this.style.color='white'" %></li>
          <% else %>
            <li class="text-center"><%= link_to t('connexion').upcase, new_user_session_path, style: "color: #33cc33", class: "craietext" %></li>
            <li class="text-center"><%= link_to t("s_inscrire").upcase, new_user_registration_path, style: "color: white", class: "craietext", onmouseover: "this.style.color='#e5e600'", onmouseout: "this.style.color='white'" %></li>
          <% end %>

        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li class="text-center"><%= link_to "COURS", pages_videos_path, style: "color: white", class: "craietext", onmouseover: "this.style.color='#3399ff'", onmouseout: "this.style.color='white'" %></li>
            <li class="text-center"><%= link_to "BLOG", posts_path, style: "color: white", class: "craietext", onmouseover: "this.style.color='#33cc33'", onmouseout: "this.style.color='white'" %></li>
            <li class="text-center"><a href="http://discourse.viensfairetesdevoirs.com" style="color:white" class="craietext" onmouseover="this.style.color='#e5e600'" onmouseout="this.style.color='white'">FORUM</a></li>
            <li class="text-center"><%= link_to "PROFIL", pages_casier_path, style: "color: white", class: "craietext", onmouseover: "this.style.color='#ff471a'", onmouseout: "this.style.color='white'" %></li>
            <li class="text-center"><%= link_to "F.A.Q", pages_faq_path, style: "color: white", class: "craietext", onmouseover: "this.style.color='#3399ff'", onmouseout: "this.style.color='white'" %></li>
            <li class="text-center"><%= link_to "AIDEZ-NOUS", pages_cooperative_path, style: "color: white", class: "craietext", onmouseover: "this.style.color='#33cc33'", onmouseout: "this.style.color='white'" %></li>
        </ul>


      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div style="color:white"><strong>&nbsp; &nbsp; &nbsp;<%= notice %><%= alert %></strong></div>


<div class="container">

<%= yield %>
</div>

</body>

</html>
