<!DOCTYPE html>
<html>
  <head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- for Google -->
  <meta name="description" content="Ecole de Retrogaming" />
  <meta name="keywords" content="retrogaming ecole mario zelda nintendo dst" />
  <meta name="author" content="VFTD" />
  <meta name="copyright" content="Sylvain Kraisin" />
  <meta name="application-name" content="ViensFaireTesDevoirs" />
  <title>Ecole de Retrogaming - Viens Faire Tes Devoirs</title>
<!-- for Facebook -->
  <%= content_for :facebook %>
  <!-- <meta property="og:title" content="L'Ecole du Retrogaming" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="<%= asset_path('pixelsite.png') %>" />
  <meta property="og:url" content="http://viensfairetesdevoirs.com" />
  <meta property="og:description" content="Rejoins la première école de retrogaming du net" /> -->
<!-- for Twitter -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="ViensFaireTesDevoirs.com" />
  <meta name="twitter:site" content="@ViensFTD" />
  <meta name="twitter:description" content='L"Ecole du Rétrogaming' />
  <meta name="twitter:image" content="http://viensfairetesdevoirs.com/system/users/avatars/000/000/001/medium/faq.png?1457736485" />
<!-- for favicon -->
  <%= render 'favicon' %>


  <link rel="stylesheet" href="<%= asset_path('animate.min.css') %>" />
  <title>ViensFaireTesDevoirs</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  </head>

  <body class="<%= controller.controller_name %> <%= controller.action_name %>" data-no-turbolink="true">
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '755784447865139',
          xfbml      : true,
          version    : 'v2.6'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/fr_FR/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    <%= render 'navbar' %>

    <div class="alert-success text-center">
      <strong>
        <%= notice %>
      </strong>
    </div>
    <div class="alert-danger text-center">
      <strong>
        <%= alert %>
      </strong>
    </div>

    <div class="container margin_bottom_ipad_portrait">
      <%= yield %>
    </div>

    <!-- google-analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-74415551-1 ', 'auto');
    ga('send', 'pageview');

    </script>

  </body>

</html>
